<div class="userInfo">
    <img src="/platform/user/<%=creatorId%>/photo" class="userImg" />
    <span class="userName"><%=creatorName%></span>
    <span class="date"><%= new Date(createTime).format('yyyy-MM-dd')%></span>
</div>
<div class="content">
    <%= text%>
</div>

<%if(attachments && attachments.length>0){%>
<div class="imgs">
	<% $.each(attachments,function(i,item){%>
    <a class="example-image-link img" href="/<%=item.url%>" title="<%=item.name%>" data-lightbox="example-1">
     <img class="example-image" src="/<%=item.url%>" alt="<%=item.name%>" /></a>
    <% }) %>
      
</div>
<%}%>

<% if(App.Global.User && creatorId==App.Global.User.userId){%>
<div class="delTalkBox">
	<i class="delTalk" data-id="<%=id%>"  data-viewpointid="<%=viewpointId%>">删除</i>
</div>
<%}%>