<% _.forEach(data,function(item){ %>
  <li class="itemNode">
    <div class="item-content" data-parent="<%=item.code%>">
      <% if(item.isChild){ %>
        <i class="nodeSwitch"></i>
      <% }else{ %>
        <i class="noneSwitch"></i>
      <% } %>
      <label class="treeCheckbox">
        <input type="checkbox" <% if(defaultType){ %>checked="checked"<% } %> data-type="classCode" data-etag="<%= item.code %>" />
        <span class="lbl"></span>
      </label>
      <span class="tree-text"><%= item.name %></span>
    </div>
  </li>
<% }) %>
