<div class="breadcrumbNav">
    <span class="projectText"><a href="#resources">资源库</a></span>
    <span class="breadItem project relative"> <i class="icon-angle-right"></i> 
            <% var obj=App.ResourcesNav.getNameByType(); %>
           <span class="breadItemText"> <a href="<%=obj.href%>" class="text"><%= obj.name %></a> </span>
    <div class="projectList">
        <div class="loading">正在加载，请稍候……</div>
        <div class="listContent">
        </div>
    </div>
    </span>
    <span class="breadItem projectVersion resourcesList relative <%= App.ResourceModel.Settings.CurrentVersion.projectId ? '':'myHidden' %>"> <i class="icon-angle-right"></i> 
           <span class="breadItemText"> <span class="text"><%=App.ResourceModel.Settings.CurrentVersion.projectName%></span> </i></span>
    <div class="projectVersionList">
        <div class="listResource">
        </div>
    </div>
    </span>


     <span class="breadItem projectVersion relative <%= App.ResourceModel.Settings.CurrentVersion.id ? '':'myHidden' %>"> <i class="icon-angle-right"></i> 
           <span class="breadItemText"> <span class="text"><%=App.ResourceModel.Settings.CurrentVersion.name%>( <%=App.Comm.convertStatus(App.ResourceModel.Settings.CurrentVersion.status)%>) </span> </span>
    <div class="projectVersionList">
        <div class="listContent">
        </div>
    </div>
    </span>
</div>
