<div class="breadcrumbNav">

    <span class="projectText"><a href="#resources">基础资源</a></span>

    <span class="breadItem project relative"> <i class="icon-angle-right"></i> 
            <% var obj=App.ResourcesNav.getNameByType(); %>
           <span class="breadItemText"> <a href="<%=obj.href%>" class="text"><%= obj.name %></a> </span>
        <div class="projectList">
            <div class="loading">正在加载，请稍候……</div>
            <div class="listContent">
            </div>
        </div>
    </span>
    
    <span class="breadItem projectVersion resourcesList relative <%= App.ResourceModel.Settings.CurrentVersion.projectId ? '':'myHidden' %>"> <i class="icon-angle-right"></i> 
           <span class="breadItemText">
            
             <span class="text"><%=App.ResourceModel.Settings.CurrentVersion.projectName%></span>
                    <%if(App.ResourceModel.Settings.type=='famLibs'){%>
                        (
                        <%= App.Comm.modelStatus[App.ResourceModel.Settings.CurrentVersion.status] %>)
                    <%}%>
                </span><i class="myIcon-slanting-right"></i>
                <div class="projectVersionList">
                    <div class="listResource">
                    </div>
                </div>
                </span>
                <span class="breadItem projectVersion standardLibsVersion relative <%= App.ResourceModel.Settings.CurrentVersion.id &&App.ResourceModel.Settings.type!='famLibs'  ? '':'myHidden' %>"> <i class="icon-angle-right"></i> 
           <span class="breadItemText"> <span class="text"><%=App.ResourceModel.Settings.CurrentVersion.name%>( <%= App.Comm.modelStatus[App.ResourceModel.Settings.CurrentVersion.status]%>) </span><i class="myIcon-slanting-right"></i> </span>
                <div class="projectVersionList">
                    <div class="listContent">
                    </div>
                </div>
                </span>


    <span class="fileNav <%=App.ResourceModel.Settings.type=='famLibs'||App.ResourceModel.Settings.type==''?'myHidden':'' %>">
            <span  data-type="file" class="file selected commSpan">文档</span>
            <span  data-type="model" class="model commSpan" style="border-radius: 0 3px 3px 0 !important;">模型</span>
        </span>




</div>
