<div class="breadcrumbNav">
    <span class="projectText"><a href="#resources">资源库</a></span>
    <span class="breadItem project relative"> <i class="icon-angle-right"></i> 
           <span class="breadItemText"> <span class="text"><%= App.ResourcesNav.getNameByType() %></span> </span>
    <div class="projectList">
        <div class="loading">正在加载，请稍候……</div>
        <div class="listContent">
        </div>
    </div>
    </span>
    <span class="breadItem projectVersion relative <%= App.ResourcesNav.Settings.libsId ? '':'myHidden' %>"> <i class="icon-angle-right"></i> 
           <span class="breadItemText"> <span class="text"><%=App.ResourcesNav.Settings.libsName%></span> </i></span>
    <div class="projectVersionList">
        <div class="listContent">
        </div>
    </div>
    </span>


     <span class="breadItem projectVersion relative <%= App.ResourcesNav.Settings.libsVersionId ? '':'myHidden' %>"> <i class="icon-angle-right"></i> 
           <span class="breadItemText"> <span class="text"><%=App.ResourcesNav.Settings.libsVersionName%></span> </span>
    <div class="projectVersionList">
        <div class="listContent">
        </div>
    </div>
    </span>
</div>
