     <% var lists=obj.data, count=lists.length,current; %> 

               <%for(var i=0;i<count;i++){%>

                    <%current=lists[i];%>
                    <tr>    
                        <td class="listCode">

                            <%if(current.children){%>
                                 <i class="nodeSwitch on"></i>
                            <%}else{%>
                                 <i class="nodeSwitch none"></i>
                            <%}%>

                            <span class="code"><%=current.code%></span>
                        </td>
                        <td class="listName"><%=current.name%></td>
                     
                    </tr>

                     <% if(current.children){%>
                         <% var lists2=current.children; count2=lists2.length; %>

                          <%for(var j=0;j<count2;j++){%>

                                 <%current=lists2[j];%>

                                <tr>    
                                    <td class="listCode">
                                          <%if(current.children){%>
                                                 <i class="nodeSwitch on step1"></i>
                                            <%}else{%>
                                                 <i class="nodeSwitch none step1"></i>
                                            <%}%>
                                            <span class="code code1"><%=current.code%></span>
                                    </td>
                                    <td class="listName"><%=current.name%></td>
                                  
                                </tr>

                                 <% if(current.children){%>
                                     <% var lists3=current.children; count3=lists3.length; %>
                                     <%for(var k=0;k<count3;k++){%>
                                        <%current=lists3[k];%>
                                        <tr>    
                                            <td class="listCode">
                                                <%if(current.children){%>
                                                     <i class="nodeSwitch on step2"></i>
                                                <%}else{%>
                                                     <i class="nodeSwitch none step2"></i>
                                                <%}%>
                                                <span class="code code2"><%=current.code%></span>
                                            </td>
                                            <td class="listName"><%=current.name%></td>
                                           
                                        </tr>

                                             <% if(current.children){%>
                                                 <% var lists4=current.children; count4=lists4.length; %>
                                                 <%for(var n=0;n<count4;n++){%>
                                                    <%current=lists4[n];%>
                                                    <tr>    
                                                        <td class="listCode">
                                                             <%if(current.children){%>
                                                                 <i class="nodeSwitch on step3"></i>
                                                            <%}else{%>
                                                                 <i class="nodeSwitch none step3"></i>
                                                            <%}%>
                                                            <span class="code code3"><%=current.code%></span>
                                                        </td>
                                                        <td class="listName"><%=current.name%></td>
                                                          
                                                    </tr>  
                                                 <%}%>

                                             <%}%>


                                     <%}%>

                                 <%}%>


                          <%}%>
                          
                    <%}%>

                <%}%> 

                      <%if(count<=0){%>
                <tr> <td  colspan="2" class="noDataTd">暂无数据</td></tr> 
        <%}%>