
 
<%  var data=obj.data,count=data.length;%>

 <%for(var i=0;i<count;i++){%>

  <tr class="<%= i%2==0 ?'odd' : '' %>">
	   <td class="name">  <span class="nameText overflowEllipsis"><%=data[i].title%></span></td>
	   <td class="date"><%= new Date(data[i].applyTime).format('yyyy-MM-dd') %></td>
	   <td class="diff"> 
 			<a href="/static/dist/app/project/projectChange/index.html?projectId=<%=App.Project.Settings.CurrentVersion.projectId%>&projectVersionId=<%=App.Project.Settings.CurrentVersion.id%>&referenceId=<%=data[i].referenceId%>&referenceVersionId=<%=data[i].referenceVersionId%>" target="_blank">查看</a> 


 		<!-- 这是对的 上面那个是兼容的 需要更改	<a href="/static/dist/app/project/projectChange/index.html?projectId=<%=data[i].projectId%>&projectVersionId=<%=data[i].projectVersionId%>&referenceId=<%=data[i].referenceId%>&referenceVersionId=<%=data[i].referenceVersionId%>" target="_blank">查看</a>  -->

	    </td> 
 </tr>
 <%}%> 

<%if(count<=0){%>
	<tr> <td  colspan="3" class="noDataTd">暂无数据</td></tr> 
<%}%>