<span data-fileversionid="<%=fileVersionId%>" class="filecKAll inlineBlock">
<input type="checkbox" class="ckAll" /></span>


<span class="fileName inlineBlock"> 

<span class=" fileType <%= folder?'folder':App.Comm.fileSuffix(suffix)%>"></span>
<% if(folder){%>
    <span data-id="<%=id%>" data-isfolder="<%=folder%>" class="text <%= id=='createNew'?'hidden':'' %>"><%=name%></span>
    <% if(id=='createNew'){%>
    	<input type="text" value="<%=name%>" class="txtEdit txtInput" /> 
    	<span class="btnEnter myIcon-enter"></span>
    	<span class="btnCalcel pointer myIcon-cancel"></span>
    <%}%>
<%}else{%>
 
        <a data-id="<%=id%>" href="/static/dist/app/project/single/filePreview.html?id=<%=fileVersionId%>&projectId=<%=projectId%>&projectVersionId=<%=App.ResourceModel.Settings.CurrentVersion.id%>" target="_blank" data-isfolder="<%=folder%>" class="text">
            <%=name%>
        </a>
<%}%>
</span>


<span class="fileStatus inlineBlock"><%=  App.Comm.convertStatus(status) %></span>
<span class="fileOp inlineBlock"><%= creatorName %></span>
<span class="fileSize inlineBlock"><%=length?App.Comm.formatSize(length):""%></span>
<span class="fileDate inlineBlock"><%= createTime?new Date(createTime).format("yyyy-MM-dd"):"" %></span>
