<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>index</title>
</head>

<body>
    <input type="checkbox" />
    <script type="text/javascript" src="http://bim.wanda-dev.cn/static/dist/components/modelSelector/js/modelSelector.js"></script>


    <script type="text/javascript">
    
    var viewer = new ModelSelection({
        type: 'multi', //multi, single
        sourceId: '848069790540000',
        etag: "ca4863cf122ac55b5a8e845595aeb7ce",
        projectId: '1',
        projectVersionId: '784306105035931', //multi 只有components回调参数
        callback: function(components, markers) {
            console.log(ids);
        }
    });

     function getData(){
        alert(1);
        return viewer;
    }

    window.getDate=getData;
    </script>
</body>

</html>
