<ul class="list listHeader">
    <li class="item">
        <div class="modules left">模块</div>
        <div class="name left">项目名称</div>
        <div class="code left">项目代码</div>
        <div class="op left">操作</div>
    </li>
</ul>
<div class="mappingContainer">
    <div class="mappingScroll">
        <ul class="list listBody">
            <% _.each(items,function(i){ %>
            	<li class="item">
	                <div class="modules left"><%= i.module %></div>
	                <div class="name left"><%= i.projectName %></div>
	                <div class="code left"><%= i.code %></div>
	                <div class="op left">--</div>
	            </li>
            <% }) %>
        </ul>
    </div>
</div>
