.backStageListBox{
	width: 1024px;
	height: 100%;
	margin: 0 auto;
	padding: 20px;
	ul li{
		width: 100%;
		height: 36px;
		line-height: 36px;
		font-size: 14px;
		a{
			color: #333;
		}
	}
}
.setPermissions{
	width: 100%;
	height: 100%;
	padding-top: 16px;
	position: relative;
	.setPermissionsTab{
		width: 100%;
		height: 38px;
	    background-color: #eee;
	    border: 1px solid #ccc;
	    border-width: 1px 0px;
	    position: absolute;
	    top: 16px;
	    left: 0;
	    padding: 8px 0 0 20px;
	    z-index: 10;
        & li{
        	border-top: 2px solid #eee;
    	    float: left;
    	    line-height: 27px;
    	    height: 29px;
    	    width: 98px;
    	    text-align: center;
    	    cursor: pointer;
    	    &.selected{
    	    	border: 1px #ccc solid;
    	    	border-top: 2px solid #006ecf;
    	    	border-bottom-color: #fff;
    	    	background-color: #fff;
    	    }
        }
	}
	.downContent{
		width: 100%;
	    height: 100%;
	    padding-top: 36px;
        .setPermissionsBox{
            width: 100%;
            height: 100%;
            padding:20px;
            display: none;
            .setPermissionsPublicBox{
                width: 100%;
                height: 100%;
                position: relative;
                .viewHeaderBox{
                    width: 100%;
                    height: 30px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 10;
                    a{
                        text-decoration: none;
                        display: inline-block;
                        cursor: pointer;
                        border: 1px solid #ccc;
                        color: #333;
                        width: 100px;
                        height: 30px;
                        font-size: 14px;
                        line-height: 30px;
                        text-align: center;
                        z-index: 10;
                        &:hover{
                         color: #333;
                        }
                        i{
                         display: inline-block;
                         width: 14px;
                         height: 14px;
                         margin: 0 8px 0 0;
                         position: relative;
                         top: 2px;
                        }
                    }
                }
                .viewListBox{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    padding-top: 40px;
                    table{
                        width: 100%;
                        height: 100%;
                        border: #ccc solid 1px;
                        td{
                            text-align: center;
                            border-left: 1px #ccc solid;
                            height: 40px;
                        }
                        td:nth-child(1) {
                            width: 4%;
                        }
                        td:nth-child(2) {
                            width: 48%;
                        }
                        td:nth-child(3) {
                            width: 48%;
                        }
                    }
                    .viewListHeaderBox{
                        width: 100%;
                        height: 40px;
                        position: absolute;
                        left: 0;
                        top: 40px;
                        background: #eee;
                    }
                    .viewListBodyBox{
                        width: 100%;
                        height: 100%;
                        padding-top: 40px;
                        .scrollBox{
                            width: 100%;
                            height: auto;
                            tr td{
                                border-bottom: 1px #ccc solid;   
                            }
                            tr:nth-last-child(1){
                                td{
                                    border-bottom:0;   
                                }
                            }
                        }
                    }
                }
            }
        }
	}
}
.setPermissionsAlert{
    width: 100%;
    height: 100%;
    text-align: center;
    .alertInfo{
        width: 100%;
        height: 32px;
        line-height: 32px;
        margin-top: 60px;
        padding-left: 40px;
        float: left;
    }
    .alertInfo:before {
        content: '';
        position: absolute;
        background: transparent url(/static/dist/images/services/images/service_ico.png) 0 0 no-repeat;
        vertical-align: middle;
        width: 32px;
        height: 32px;
        background-position: 0 -300px;
        left: 42px;
        top: 70px;
    }
    .confirm{
        width: 100%;
        height: 30px;
        line-height: 30px;
        float: left;
        margin-top: 30px;
        #servicesCancel{
            margin-left: 16px;
        }
    }
}