
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj 
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.exe
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

*.vssscc
*.scc
*.dbmdl
*.orig
node_modules/
.idea/
home1/
orkbench
*.mswwsettings

tempfiles/
/webApp/test
/webApp/1.html
/webApp/resources/tpls/resourcesArtifacts/resources.artifacts.IndexNav.html
/webApp/resources/tpls/resourcesArtifacts/resources.artifacts.indexnav.html
/te
/webApp/dataJson/resources/backup
/webApp/app/oPage/download/IEH5Agent.exe
