<div class="roleEdit">
    <!--<a  class="explorer">查看</a>-->
    <span  class="modify">修改</span>
    <span  class="delete">删除</span>
</div>
<div class="sele">
    <div class="left">
            <span class="rohead"></span>
            <span><%= name %></span>
    </div>
    <div class="fun">
        <% if (functions.length) { for( var i = 0 ; i < functions.length ; i++) {%>
        <span class="<%= functions[i].id==1 ?  'adm' : '' %>"><%= functions[i].name %></span>
        <% } }%>
    </div>
</div>

