<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>模型选择器</title>
    <script src="http://bim.wanda-dev.cn/static/dist/components/inspectSelection/js/inspectSelection.js"></script>
  </head>
  <body>
    <script>
    var viewer = new InspectModelSelection({
      type:"process",//open process
      ruleType:'24',//构件分类
      projectCode:'2196E47F-FACC-45F4-B835-577C7BC65BEB',
      //res 选择的检查点数据
      callback:function(res){
        console.log(res);
      }
    });
    </script>
  </body>
</html>