<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>模型选择器</title>
    <script src="http://bim.wanda-dev.cn/static/dist/components/inspectSelection/js/inspectSelection.js"></script>
  </head>
  <body>
    <script>
    var viewer = new InspectModelSelection({
      type:"process",//open process
      sourceId: '848069790540000',
      etag: "ca4863cf122ac55b5a8e845595aeb7ce",
      projectId:'1',
      projectVersionId: '784306105035931',
      //res 选择的检查点数据
      callback:function(res){
        console.log(res);
      }
    });
    </script>
  </body>
</html>