<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>模型选择器</title>
    <script src="http://bim.wanda-dev.cn/static/dist/components/inspectSelection/js/inspectSelection.js"></script>
  </head>
  <body>
    <script>
      jQuery.support.cors = true;
    var viewer = new InspectModelSelection({
      type:"process",//open process
      ruleType:'24',//构件分类
      projectCode:'119b1c19-0c93-4145-b834-a2fcb78af008',
      //res 选择的检查点数据
      callback:function(res){
        alert(JSON.stringify(res))
      }
    });
    </script>
  </body>
</html>