<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模型选择器</title>
    <script src="http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/dist/components/inspectSelection/js/inspectSelection.js"></script>
</head>
<body>
<script>
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    var Request = GetRequest();

    var viewer = new InspectModelSelection({
        type: Request.type,//open process
        sourceId: Request.sourceId,
        etag: Request.etag,
        projectId: Request.projectId,
        projectVersionId: Request.projectVersionId,
        ruleType: Request.ruleType,
        token: Request.token,
        appKey: Request.appKey,
        host: 'http://' + location.host,
        height:Request.height,
        width:Request.width,
        //res 选择的检查点数据
        callback: function (res) {
        }
    });

    function getData() {
        var userId = viewer.Project.currentUserId,
                fileId = viewer.Project.fileIds[userId] || "";
        var result = {
            presetPoint: viewer.Project.presetPoint,
            risk: {}
        }
        if(userId){
           result.risk={
               components: {
                   id: userId,
                   fileUniqueId: fileId + userId.slice(userId.indexOf('.')),
                   axis: viewer.Project.axis[userId],
                   location: viewer.Project.location[userId],
                   locationName: viewer.Project.locationName[userId]
               },
               markers: viewer.Project.Settings.markers
           }
        }else{
            if(viewer.Project.currentRiskShowData){
                result.risk={
                    components:{
                        id:viewer.Project.currentRiskShowData.id,
                        markers:viewer.Project.currentRiskShowData.marker
                    }
                }
            }

        }
        return JSON.stringify(result);
    }

    function allIn(param) {
        var view = viewer.Project.Viewer,
                type = "readOnly";
        param = JSON.parse(param);
        param = param || {};
        viewer.Project.mode = type;
        viewer.Project.isSelect = true;
        view.loadMarkers(null);
        if (param.presetId && (!param.componentId && !param.location)) {
            type = "preset";
            viewer.Project.mode = type;
            view.viewer.getFilters().setSelectedIds();
            showPresetPoint(param.presetId,true);
        }
        if (!param.presetId && (param.componentId && param.location)) {
            type = "risk";
            viewer.Project.mode = type;
            viewer.Project.presetPointShowData=null;
            viewer.Project.presetPoint=null;
            $(".QualityProcessAcceptance .tbProcessAccessBody tr").removeClass('selected');
            view.highlight({
                type: "userId",
                ids: undefined
            })
            showRiskComponent(param.componentId, param.location);
        }

        if(param.presetId && param.componentId && param.location){
            showRiskComponent(param.componentId, param.location);
            showPresetPoint(param.presetId);
        }

        if(!param.presetId && !param.componentId && !param.location ){
            $(".tbOpeningacceptanceBody tr").removeClass('selected');
            view.highlight({
                type: "userId",
                ids: undefined
            });
            view.viewer.getFilters().setSelectedIds();
            type="edit";
            viewer.Project.mode = type;
        }
        return type;
    }

    function clearRisk() {
        var view = viewer.Project.Viewer;
        view.highlight({
            type: "userId",
            ids: undefined
        })
        view.loadMarkers(null);
    }

    function showRiskComponent(componentId, location) {
        if(typeof location === 'string'){
            location=JSON.parse(location);
        }
        var view = viewer.Project.Viewer;
        view.highlight({
            type: "userId",
            ids: [componentId]
        });
        viewer.Project.currentRiskShowData={
            id:componentId,
            marker:JSON.stringify(location)
        }
        view.loadMarkers([JSON.stringify(location)]);
    }
    function showPresetPoint(presetId,isClearRisk) {

        if(isClearRisk){
            viewer.Project.currentRiskShowData=null;
        }

        var data = viewer.Project.catchPageData(null, {
            id: presetId
        });


        if(viewer.Project.presetPointShowData && viewer.Project.presetPointShowData.marker){
            viewer.Project.Viewer.loadMarkers([viewer.Project.presetPointShowData.marker]);
        }

        viewer.Project.OpeningAcceptanceCollection.push({data: data});
        viewer.Project.pageInfo(data, true);
        var t = $("tr[data-id='" + presetId + "']");
        t.trigger('click');
    }
    function clearPresetPoint() {
        var view = viewer.Project.Viewer;
        view.highlight({
            type: "userId",
            ids: undefined
        })
        view.loadMarkers(null);
        view.fit();
    }


    function abcd(marker){
            var id = marker? marker.id:"",
                    userId=marker? marker.userId:"",
                    data={},
                    Project=viewer.Project;
            $(".QualityProcessAcceptance .tbProcessAccessBody tr").removeClass('selected');
            if(id){
                var tr = $("tr[data-id='"+id+"']");
                if(tr.length>0){
                    tr.addClass('selected');
                }else{
                    data=Project.catchPageData('process',{id:id});
                    Project.OpeningAcceptanceCollection.reset();
                    Project.OpeningAcceptanceCollection.push({data: data});
                    Project.pageInfo(data, true);
                    tr = $("tr[data-id='"+id+"']");
                    tr.addClass("selected");
                }
            }

            if(userId){
                Project.Viewer.highlight({
                    type: 'userId',
                    ids: [userId]
                });
            }else{
                Project.Viewer.highlight({
                    type: 'userId',
                    ids: undefined
                });
            }
    }
</script>
</body>
</html>