<div id="flowContainer">
	<%  _.each(data,function(item){ %>
		<fieldset class="classify">
			<legend><%=item.title%></legend>
			<ul>
				<%  _.each(item.items,function(i){ %>
					<li class="item"> <span class="text" title="<%=i.name%>"><%=i.name%></span>
						<% if(i.sendUrl){ %>
							<a href="<%=i.sendUrl%>" target="_blank" class="right">发起</a>
						<% } %>
						<% if(i.viewUrl){ %>
							 <a href="<%=i.viewUrl%>" target="_blank" class="right mRightCK">查看</a>
						<% } %>
					</li>
				<% }) %>
			</ul>
		</fieldset>
	<% }) %>
</div>