<div id="flowContainer">
	
	<%  _.each(data,function(item){ %>
		
		<div class="classify">
			<div class="leftRadius flowBg"></div>
			<div class="rightRadius flowBg"></div>
			<div class="title"><%=item.title%></div>
			<ul>
				<%  _.each(item.items,function(i){ %>
					<li class="item"> <span class="text"><%=i.name%></span>
						<% if(i.sendUrl){ %>
							<a href="<%=i.sendUrl%>" target="_blank" class="right">发起</a>
						<% } %>
						<% if(i.viewUrl){ %>
							 <a href="<%=i.viewUrl%>" target="_blank" class="right mRightCK">查看</a>
						<% } %>
						
					</li>
				<% }) %>
			</ul>
		</div>
		<div class="clear"></div>
	<% }) %>
	
</div>