/*标准行高*/
.fTitle {
  font-size: 14px;
}
.fComm {
  font-size: 12px;
}
i,
em {
  font-style: normal;
  font-weight: normal;
}
.block {
  display: block;
}
.left {
  float: left;
}
.right {
  float: right;
}
a {
  text-decoration: none;
  color: #408CDF;
}
a:hover {
  text-decoration: underline;
}
.clear {
  margin: 0;
  padding: 0;
}
body,
ul,
table,
tr,
td,
input {
  margin: 0;
  padding: 0;
}
.bdrComm {
  border-radius: 5px;
}
.bdrTComm {
  border-radius: 5px 5px 0 0;
}
.bdrBComm {
  border-radius: 0 0 5px 5px;
}
.pdT10 {
  padding-top: 10px;
}
.pdX10 {
  padding: 0 10px;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.con {
  /*filter: progid:DXImageTransform.Microsoft.Glow(color=#999999,strength=3);*/
  box-shadow: 0 0 10px 0  #666666;
  /*-webkit-filter: drop-shadow(0,0,5,rgba(0, 0, 0, 0.5));background-color: #ffffff; */
  border-radius: 5px;
}
/*用filter不是个好方式,IE渲染包含在box模型内，会偏移设置背景色将使ie的滤镜不继承*/
img {
  border: none;
  outline: none;
}
.headIcon {
  position: absolute;
  width: 35px;
  height: 40px;
  left: 0;
  top: 0;
  background: transparent url("../images/con_tab_default.png") center center no-repeat;
}
table {
  border-collapse: collapse;
  border: none;
}
.clearBoth {
  clear: both;
}
.clearfix:after {
  clear: both;
  content: "\200B";
  display: block;
  height: 0px;
}
.clearfix {
  *zoom: 1;
}
.bodyContent {
  width: 980px;
  margin: 0 auto;
  padding: 0;
}
.bodyContent li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bodyContent .article {
  padding: 0 10px;
  border-radius: 0 0 5px 5px;
}
.conTodo,
.conSlide,
.conMonth,
.conPro {
  /*filter: progid:DXImageTransform.Microsoft.Glow(color=#999999,strength=3);*/
  box-shadow: 0 0 10px 0  #666666;
  /*-webkit-filter: drop-shadow(0,0,5,rgba(0, 0, 0, 0.5));background-color: #ffffff; */
  border-radius: 5px;
  font-size: 12px;
}
.conHeader span {
  display: block;
  font-size: 14px;
  padding: 0 30px 0 35px;
  line-height: 40px;
  font-weight: 600;
  border-radius: 5px 0 0 0;
  cursor: pointer ;
}
.conHeader a {
  float: right;
  line-height: 40px;
  font-size: 10px;
  color: #ffffff;
  padding-right: 20px;
  position: relative;
  z-index: 10;
}
.conHeader a:hover {
  text-decoration: none;
}
.conMonth .conHeader span {
  float: left;
  position: relative;
}
.conMonth .conHeader i {
  position: absolute;
  width: 35px;
  height: 40px;
  left: 0;
  top: 0;
  background: transparent url("../images/con_tab_default.png") center center no-repeat;
  background-image: url("../images/con_tab_default.png");
}
.conMonth .conHeader span.active i {
  background: #ffffff url("../images/con_tab_active.png") center center no-repeat;
  border-radius: 5px 0 0 0;
}
.conMonth .conHeader span.active {
  background: #ffffff url("../images/contabx.gif") right top no-repeat;
  color: #333333;
}
.conMonth td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.conTodo,
.conMonth {
  float: left;
  width: 600px;
}
.conTodo li:not(:last-child) {
  border-bottom: 1px solid #dddddd;
}
.conSlide,
.conPro {
  float: right;
  width: 360px;
}
.conTodo .conHeader span {
  position: relative;
}
.conTodo .conHeader i {
  position: absolute;
  width: 35px;
  height: 40px;
  left: 0;
  top: 0;
  background: transparent url("../images/con_tab_default.png") center center no-repeat;
  background-image: url("../images/con_todo_ico.png");
}
.conSlide .conHeader i {
  position: absolute;
  width: 35px;
  height: 40px;
  left: 0;
  top: 0;
  background: transparent url("../images/con_tab_default.png") center center no-repeat;
  background-image: url("../images/slide_ico.png");
}
.conPro .conHeader i {
  position: absolute;
  width: 35px;
  height: 40px;
  left: 0;
  top: 0;
  background: transparent url("../images/con_tab_default.png") center center no-repeat;
  background-image: url("../images/pron_ico.png");
}
.conMonth table {
  width: 100%;
  line-height: 30px;
}
.conMonth thead {
  color: #999999;
  border-bottom: 1px solid #dddddd;
}
#monthStart {
  display: none;
}
.bodyContent .conHeader {
  background-color: #3c7ab9;
  height: 40px;
  color: #ffffff;
  border-radius: 5px 5px 0 0;
  line-height: 0;
  position: relative;
}
.conInfo {
  float: right;
  width: 195px;
  line-height: 24.5px;
  text-align: right;
  color: #999999;
}
.conInfo span {
  float: right;
  width: 110px;
  text-align: left;
  color: #333333;
}
.conBody li {
  font-size: 12px;
}
.conTodo .conBody li {
  line-height: 49px;
}
.conBody li a {
  color: #408CDF;
}
.conBody table {
  width: 100%;
}
.conBody.pro .time,
.conBody.pro li,
.conBody.moth li {
  line-height: 30px;
}
/*轮播*/
.conSlide .presentShow {
  display: inline-block;
  *display: inline;
  line-height: 50px;
  vertical-align: top;
  width: 115px;
  color: #999999;
  font-size: 12px;
}
.conSlide .presentShow em {
  color: #0081dd;
  font-size: 14px;
}
.conSlide .article ul {
  height: 250px;
}
.conSlide .article li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 250px;
}
.conSlide .article {
  border-radius: 0 0 5px 5px;
  height: 300px;
  overflow: hidden;
  position: relative;
  clear: both;
}
.conSlide .imgContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 300px;
}
.conSlide .slideProcess {
  height: 50px;
  line-height: 0;
  text-align: center;
}
.conSlide .slideProcess span {
  display: inline-block;
  *display: inline;
  width: 30px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}
.conSlide .slideProcess span img {
  margin-top: 10px;
}
