#comment { height: 100%; overflow-y: hidden;
	.commentListBox { height: 100%; overflow: hidden; }
	.commentList { height: 100%; position: relative; left: 0px;
		.navBar { margin-left: 10px;
			.item { float: left; height: 45px; line-height: 45px; color: #b9b9b9; width: 80px; text-align: center; border-bottom: 2px transparent solid; cursor: pointer;
				&.selected { color: #fff; border-bottom-color: #1E64AA; }
				&.save { width: 98px; border: 1px #959A94 solid; height: 25px; line-height: 24px; margin-top: 12px; float: right; margin-right: 10px;
					.iconSave { font-size: 18px; margin: 0; padding: 0; width: 18px; color: #b9b9b9; }
				}
			}
		}
		.listBox { position: absolute; top: 46px; bottom: 0px; left: 0px; right: 0px;
			.item { height: 80px; color: #b9b9b9;
				.thumbnailImg { float: left; width: 82px; height: 62px; margin: 10px 0px 0px 10px; }
				.info { margin-left: 100px; padding-top: 9px; }
				.title, .desc { width: 98%; }
				.title { font-size: 14px; }
				.desc { margin: 6px 0px 4px 0px; }
				.name { width: 50px; }
				.date { margin-left: 10px; vertical-align: middle; }
				.remarkCount { float: right; margin-right: 5px;
					&:hover { text-decoration: underline; cursor: pointer; }
				}
				&:hover { background-color: #4E7FAD }
				&.selected { background-color: #0057A7; color: #fff; }
			}
		}
	}
	.projectListBox, .userListBox { height: 100%; }
	.commentRemark { position: absolute; top: 6px; left: 330px; right: 0px; bottom: 0px; overflow: hidden;
		.header { height: 49px; border-bottom: 1px #353535 solid; line-height: 48px; padding: 0px 10px; }
		.talkReMark { position: absolute; bottom: 0px; background-color: #444; }
		.reMarkListBox { position: absolute; top: 49px; bottom: 100px; background: #333; left: 0px; right: 0px; }
		.iconTalk { font-size: 21px; width: 25px; margin: 0px; color: #b9b9b9; }
		.goList { float: right; cursor: pointer; color: #b9b9b9; }
		.inputBox { width: 310px; margin-left: 8px; color: #333; border-radius: 3px; background-color: #fff; }
		.txtReMark { width: 100%; border: 0; height: 42px; outline: none; resize: none; padding: 5px;
			&.input { height: 85px; }
		}
		.uploadImg { display: none; }
		.btnEnter { float: right; margin: 5px 2px 10px 0px; width: 100px; height: 28px; background-color: transparent; outline: 0; border: 1px #fff solid; }
		.btnUploadImg { float: left; margin: 12px 0px 0px 12px; cursor: pointer; }
		.reMarkList { .item { border-top: 1px #656565 solid; margin: 0px 10px 8px 20px; }
			.userInfo { margin-top: 5px; }
			.userImg { width: 18px; height: 18px; border-radius: 3px; }
			.userName { margin-left: 5px; vertical-align: 2px; }
			.date { float: right; }
			.content { margin: 5px 0px 0px 25px; }
			.imgs { margin: 8px 0px 0px 25px;
				.img { margin: 2px; }
			}
		}
	}
	.loading { position: static; background-color: transparent; color: #fff; font-size: 16px; text-align: center; height: 100px; }
}
#topSaveTip { position: fixed; top: 87px; z-index: 9; background-color: #507688; color: #fff; width: 360px; height: 36px; line-height: 35px; padding-left: 30px; left: 50%; transform: translate(-50%);
	.tip { font-size: 16px; }
	.btnSave { display: inline-block; background-color: #fff; color: #006ECF; width: 62px; height: 26px; line-height: 25px; text-align: center; border-radius: 3px; margin-left: 10px; margin-right: 10px; cursor: pointer; vertical-align: 1px; }
	.btnCanel { cursor: pointer; }
}
.saveViewPoint { .wrapper { .header, .content, .footer { background-color: #333; border-color: #5A5A5A; }
		.header .title { color: #fff; font-weight: normal; }
		.btnWhite { background-color: #333; border-color: #555; color: #EBEBEB; }
		.img { width: 82px; height: 62px; background-color: #fff; float: left; }
		.form { margin-left: 100px;
			.name { width: 360px; height: 31px; padding-left: 7px; border: 0; outline: none; margin-bottom: 20px; }
			.desc { resize: none; height: 60px; width: 360px; padding: 5px; margin-bottom: 20px; }
			.modelicon { color: #ccc; font-size: 18px; vertical-align: -2px; margin-right: 5px; }
		}
	}
}
#comment .mCustomScrollbar .mCSB_scrollTools_vertical .mCSB_draggerContainer { background-color: transparent; }