#comment { height: 100%; overflow-y: hidden;
	.commentList { height: 100%;position: relative;
		.navBar { margin-left: 10px;
			.item { float: left; height: 45px; line-height: 45px; color: #b9b9b9; width: 80px; text-align: center; border-bottom: 2px transparent solid; cursor: pointer;
				&.selected { color: #fff; border-bottom-color: #1E64AA; }
				&.save { width: 98px; border: 1px #959A94 solid; height: 25px; line-height: 24px; margin-top: 12px; float: right; margin-right: 10px;
					.iconSave { font-size: 18px; margin: 0; padding: 0; width: 18px; color: #b9b9b9; }
				}
			}
		}
		.listBox{
			position: absolute;top:46px;bottom: 0px;left:0px;right:0px;
		}
	}
	.commentRemark { height: 100%; display: none; }
}