@iconSize: 32px;
.bim{width:100%;height:100%;overflow:hidden;position:relative;background:#fff;
  &.color-1{background:#fff;}
  &.color-2{background:#ccc;}
  &.color-3{background:#4a4a4a;}
  &.color-4{background:#000;}
  &.color-5{background:#748BA6;}
  &.color-6{background:#273749;}
  &.comment{
    .modelSidebar{display:none;}
    .modelBar{display:none;}
    .view{cursor:default;}
  }
  .loading{position:absolute;width:100%;height:6px;left:0;top:0;background:#ccc;overflow:hidden;}
  .progress{display:block;background:#358BD4;height:6px;width:0;}
  .view{width:100%;height:100%;/*cursor:url('../images/rotate.png'),default;*/}
  .fly{cursor:crosshair;}
  .zoom{cursor:url('../images/zoom.png'),default;}
  .commentBar{position:absolute;z-index:20;background:#333;left:50%;bottom:10px;transform:translate(-50%,0);}
  .modelBar{position:absolute;z-index:20;background:#333;left:50%;bottom:10px;transform:translate(-50%,0);}
  .modelSelect{float:left;margin:5px;position:relative;color:#fff;
    .cur{display:block;width:100px;height:30px;line-height:28px;padding:0 30px 0 5px;border:1px solid #666;
      &:after{content:'';position:absolute;display:block;border-top:4px solid #fff;border-left:4px solid transparent;border-right:4px solid transparent;right:5px;top:12px;transition: all .5s;}
      &.open:after{transform:rotate(-180deg);}
    }
    .modelList{display:none;position:absolute;width:100%;bottom:100%;background:#000;border:1px solid #666;border-bottom:none;}
    .open + .modelList{display:block;}
    .modelItem{line-height:28px;padding:0 5px;cursor:pointer;list-style:none;}
  }
  .bar-item{float:left;display:block;width:34px;height:34px;border:1px solid #333;margin:3px;color:#fff; font-family: "modelicon" !important; font-size: 32px; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale;
    &:hover{border:1px solid #666;}
    &.selected{background-color:#000;}
  }
  .m-color{background:none;
    &:before{content:'';display:inline-block;width:20px;height:20px;margin:6px;background:#ccc;border:2px solid #fff;border-radius:1000px;}
    &.color-1:before{background:#fff;}
    &.color-2:before{background:#ccc;}
    &.color-3:before{background:#4a4a4a;}
    &.color-4:before{background:#000;}
    &.color-5:before{background:#748BA6;}
    &.color-6:before{background:#273749;}
  }
  .m-fullScreen,
  .m-miniScreen{position:relative;
    &:before{position:relative;z-index:2;color:#ccc;}
    &:after{width:20px;height:20px;background:#666;content:'';display:block;position:absolute;left:6px;top:6px;border-radius:1000px;}
  }
  .modelSidebar{position:absolute;left:0;bottom:0;width:328px;
    &.open{top:0;
      .modelFilter{display:block;}
    }
    &.hideMap{
      .modelMap{bottom:-220px;}
      .modelFilter{bottom:40px;}
    }
    .toolsBar{width:100%;height:40px;position:relative;padding:0 4px;
      .subBar{display:none;position:absolute;bottom:100%;margin-bottom:2px;right:44px;background:#333;border-radius:3px;
        .bar-item{float:none;}
      }
      .selected+.subBar{display:block;}
    }
    .modelMap{width:100%;height:260px;background:#333;position:absolute;left:0;bottom:0;z-index:2;
      .map{height:180px;background:#fff;border-left:2px solid #333;border-right:2px solid #333;}
      .axisGrid{margin:5px;float:right;text-align:right;color:#fff;line-height:30px;}
    }
    .modelFilter{width:100%;display:none;position:absolute;top:0;bottom:260px;color:#fff;padding:5px;background:rgba(0, 0, 0, 0.75);overflow:auto;}
  }
  .modelTab{overflow:auto;}
  .tree{list-style:none;-webkit-user-select:none; -moz-user-select:none; user-select:none;
    // icon
    [class^='m-']{font-family: "modelicon" !important; font-size: 16px; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale;}
    .itemNode{
      .itemContent{padding:5px 0;height:28px;line-height:18px;
        i{vertical-align:middle;}
        .treeText{padding:3px;cursor:pointer;}
        .selected{background:#006ecf;}
      }
      .noneSwitch{width:16px;height:16px;display:inline-block;}
    }
    .treeCheckbox{display:inline-block;vertical-align:middle;
      input{display:none;}
      .m-lbl{display:block;width:16px;overflow:hidden;
        &:before{content:'';display:inline-block;width:13px;height:13px;background:#fff;}
      }
      input:checked + .m-lbl:after{content: "\e615";color:#03c;line-height:12px;margin-left:-15px;}
    }
    .tree{display:none;padding-left:15px;}
    .open>.tree {display:block;}
  }
  // dwg
  .mod-dwg {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
  }
  .mod-dwg .scene {
    position:relative;
  }
  .mod-dwg .view {
    position:relative;
  }
  .mod-dwg .tile {
    position: absolute;
    width: 512px;
    height: 512px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 2
  }
  .mod-dwg .rect{
    position:absolute;
    border:2px solid #fff;
    z-index:9;
  }
  // dialog
}
.modelDialog{position:fixed;z-index:9;left:0;top:0;bottom:0;right:0;background:rgba(0,0,0,.5);}
.dialogBody{width:500px;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);background:#333;color:#fff;
  .dialogHeader{height:51px;padding:10px 21px;border-bottom:1px solid #666;font-size:16px;line-height:30px;
    .dialogClose{float:right;
      &:before{display:block;content:'\e60d';font-family:"modelicon" !important;font-size:32px;}
    }
  }
  .dialogContent{padding:20px;}
  .dialogFooter{padding:20px;text-align:right;border-top:1px solid #666;
    .dialogBtn{width:80px;height:30px;font-size:14px;margin-left:20px;border:1px solid #fff;background:#333;outline:none;}
  }
  .colorBar{height:115px;margin:0 -10px;
    .bar-item{display:inline-block;width:58px;height:58px;padding:3px;border-radius:1000px;margin:11px;position:relative;border:2px solid transparent;
      &:before{display:block;width:48px;height:48px;content:'';border-radius:1000px;border:2px solid #fff;}
      &.selected{border:2px solid #006ECF;
        &:after{content: "\e615";display:block;position:absolute;font-family:"modelicon" !important;color:#006ECF;font-size:32px;margin:3px 9px;}
      }
    }
    .color-1:before{background:#fff;}
    .color-2:before{background:#ccc;}
    .color-3:before{background:#4a4a4a;}
    .color-4:before{background:#000;}
    .color-5:before{background:#748BA6;}
    .color-6:before{background:#273749;}
  }
}
















