<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>材料设备模型组件</title>
    <link rel="stylesheet" href="http://bim.wanda-dev.cn/static/dist/components/device/css/device.css">
    <script src="http://bim.wanda-dev.cn/static/dist/components/device/js/device.js"></script>
</head>
<body>
    <script>
        var data=[];
        var Random = Mock.Random;
        for(var i= 0;i<=2000;i++){
            data.push({
                id:'uuid_'+i,
                fileName:"WDGC-Q-TE-F02-ELV.rvt",//文件名称
                revitFileId:"",//文件ID
                uniqueId: i==1?"0d9d7d7c-1653-41d2-992b-405a02cbd02d-000311e0":Random.guid(),//构件编码
                boundingbox:  {
                    "min" : {
                        "x" : -122431.734375,
                        "y" : 60264.5234375,
                        "z" : -50
                    },
                    "max" : {
                        "x" : -123131.7265625,
                        "y" : 59564.5234375,
                        "z" : -4899.99951171875
                    }
                }
                //componentId: modelId.uniqueId
            })
        }
        //构件id: modelId.uniqueId
        //modeId:通过接口获取(P:fileName,projectId...)

        new DeviceSelection({
            data:data,
            height: "580px",
            width:"1200px",
            projectCode: '20000305',
            token: "4aeba9fa8574d9a704453d760171a1fde94812671e2f2a37ca0d26f91c63d001e7b42a4a1ad4aaff0cd0e360cb0f60fa650833130c13f2056d9fce17a9569a4942b39cec528fac5785bcfe9cf6cb03910ed2bd605c5863ce85b2b57b32eb8744c9645dc78be2e3b7cb1b4530efb538c85438a67e0db6069e",
            appKey: "60e8a1d9fc1d44d7b6a4cf85ae2987ed",
            callback: function (res) {
                alert(JSON.stringify(res))
            }
        })
    </script>
</body>
</html>