<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>材料设备模型组件</title>
    <link rel="stylesheet" href="http://bim.wanda-dev.cn/static/dist/components/device/css/device.css">
    <script src="http://bim.wanda-dev.cn/static/dist/components/device/js/device.js"></script>
</head>
<body>
    <script>
        var data=[];
        var Random = Mock.Random;
        for(var i= 0;i<=2000;i++){
            data.push({
                fileName:"",
                revitFileId:"",
                uniqueId: Random.guid(),//构件编码
                boundingbox:""
            })
        }
        new DeviceSelection({

            data:data,

            height: "580px",
            width:"1200px",
            projectCode: '20000282',
            token: "4aeba9fa8574d9a76f943a6b11477e7c64e54205179c8ef1d5f1e500fc5d60cd1691e8de8dc13ca683719b4869d6f1f8cb4b39d10b09dd10",
            appKey: "60e8a1d9fc1d44d7b6a4cf85ae2987ed",
            callback: function (res) {
                $('#test').val(JSON.stringify(res))
            }
        })
    </script>
</body>
</html>