#projectMember{
  padding: 20px;
  height: 100%;
  & .layoutProjectMember{
      width: 100%;
      height: 100%;
      & td:first-child{
          width: 280px;
      }
      & td:last-child{
          width: 100%;
      }
  }
  
  ul.projects{
    margin-right: 20px;
    border: 1px solid #CCCCCC; ;
    width: 280px;
    height: 100%;
    float: left;
    background: #eee;
    font-family: Microsoft YaHei;
    .project{
      color: #999999;
      cursor: pointer;
    }
    li:first-child{
      padding-top: 18px;
      height: 50px;
    }
    li{
      color:#333;
      font-size: 14px;
      height: 60px;
      padding: 13px 0 0 20px;
      border-bottom: 1px solid #CCCCCC;
      div{
        float: left;
      }
      div:first-child{
        margin-right: 11px;
        height: 35px;

      }
      h4{
        color: #9B9B9B;
      }
      p{
        color: #9B9B9B;
        font-size: 12px;
        margin-top: 8px;
      }
    }
    li.active{
      position: relative;
      background: #fff;
      h4{
        color: #333;
      }
      &::before{
        content: '';
        width: 4px;
        background: #006ECF;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        display: block;

      }
    }
  }
  .members{
    width: 100%;
    height: 100%;
    float: left;
    overflow-y: hidden;
    border: 1px solid #ccc; 
    position: relative;
    & ul{
    	overflow-y: auto;
	    position: absolute;
	    right: 0;
	    left: 0;
	    bottom: 0;
	    top: 50px;
    }
    font-family: Microsoft YaHei;
    li{
      border-bottom: 1px solid #ccc;

    }
    li:first-child{
      padding: 10px;
      height: 50px;
      line-height: 30px;
      font-size: 14px;
      color: #333;
      a{
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        border: 1px solid #ccc;
        color: #333;
        width: 100px;
        height: 30px;
        font-size: 12px;
        line-height: 30px;
        i{
          display: inline-block;
          width: 14px;
          height: 14px;
          margin: 0 8px 0 11px;
          position: relative;
          top: 2px;

        }
      }
    }
    li.member{
      height: 50px;
      padding: 10px;
      
      & .iconFile{
      	background:url('/static/dist/images/services/images/service_ico.png')no-repeat 0 0;width: 40px;height: 40px;display:block;float: left;
      }
      
      & .iconUser{
      	background:url('/static/dist/images/services/images/service_ico.png')no-repeat 0 -40px;width: 40px;height: 40px;display:block;float: left;
      }
      
      &:hover{
        background: #A8DBFD;
        .remove{
          display: block;
        }
      }
      img{
        display: inline-block;
        float: left;
        width:32px ;
        height: 32px;
        border-radius: 4px;
      }
      p{
        color: #666;
        margin-left: 12px;
        line-height: 32px;
        font-size: 14px;
      }
      .name{
        color: #333;
      }
      .direction{
        margin-left: 100px;
        color: #666;
      }
      .remove{
        display: none;
        cursor: pointer;
        color: #346BD4;
        width: 50px;
        height: 16px;
        float: right;
        margin: -23px 10px 0 0;
        i{
          display: inline-block;
          width: 14px;
          height: 14px;
          margin: 0 8px 0 0;
          position: relative;
          top: 3px;
        }
      }
    }
  }
}

@moduleWindowBorderColor:#CCC;
@memberManagerHeight:380px;
.moduleWindow,.module {
    color: #484848;
    background: #FAFAFA;
    & .mwin-header {
        height: 50px;
        line-height: 50px;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 1px solid @moduleWindowBorderColor;
        & a{
            float: right;
        }
        
        & i.closeIcon{
        	background: url(../images/service_ico.png) 0 -360px;
        	width: 20px;
        	height: 20px;
        	display: inline-block;
			    float: right;
			    margin-top: 15px;
			    cursor: pointer;
        }
    }
    & .mwin-body {
        display: inline-block;
        min-height: 100px;
        position: relative;
        margin: 0 auto;
    }
    & .mwin-foot {
    		display: none;
        height: 50px;
        line-height: 50px;
        vertical-align: middle;
        text-align: right;
        padding-right: 10px;
        & .modalBtn:last-child{
        	display: none;
        	border: 1px solid @moduleWindowBorderColor;
        }
    }
    & .modalBtn {
        display: inline-block;
        vertical-align: middle;
        background: #117EE1;
        text-align: center;
        color: #FFF;
        text-decoration: none;
        font-family: "microsoft yahei";
        line-height: 1.2;
        white-space: nowrap;
        padding:5px 20px;
        &:hover{
        	background: rgba(17,126,225,0.8);
        }
        &.icon{
        	color: #333;
          background: #FFFFFF;
          border: 1px solid @moduleWindowBorderColor;
          width: 60px;
        	height: 30px;
        	line-height: 30px;
        	padding:0;
        }
        & .btnIconSelect{
            background: url(../images/service_ico.png) no-repeat 4px -578px;
            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: -7px;
            cursor: pointer;
        }
    }
    
    &.moduleDialog{
    	width:360px;
    	min-width: auto;
    	height: 200px;
    	border:none;
		left: 50%;
		top: 50%;
		margin-left: -180px;
		margin-top: -100px;
    	background: #FFF;
    	position: absolute;
    	box-shadow: 0 0 3px 2px #CFCFCF;
    	& .mwin-header{
    		border: none;
    	}
    	& .mwin-body{
    		min-height: 96px;
    		font-family: "microsoft yahei";
    		font-size: 16px;
    		color: #333;
    		width: 100%;
    		text-align: center;
    		& .delTip{
    			 padding-left:40px;
    			 height: 32px;
    			 line-height: 32px;
    			 display: inline-block;
    			background: url(../images/service_ico.png) no-repeat 0 -300px;
    		}
    	}
    	& .mwin-foot{
    		padding-right: 0;
    		text-align: center;
    		display: block;
    		& .modalBtn{
    			width: 80px;
    			height: 32px;
    			line-height: 1;
    		}
    		& .modalBtn:last-child{
    			background: #FFF;
    			color: #333;
    			display: inline-block;
    		}
    	}
    	& .closeIcon{
    		display: none;
    	}
    }
}

#windowMask {
    background: rgba(00,00,00,0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:9999;
}
.userSelecter{
    width:  100%;
    & tr {
        width: 100%;
    }
    & .columnHeader{
        height: 32px;
        line-height: 32px;
        padding-left: 5px;
        color:#ABABAB;
        background: #EEE;
        border:1px solid @moduleWindowBorderColor;
        border-bottom: none;
    }
    & .columnBody{
         height:@memberManagerHeight;
         border:1px solid @moduleWindowBorderColor;
         overflow-y: auto;
    }
    & .column1{
        width: 50%;
        position: relative;
        &>.scrollWrap{
        		border:1px solid @moduleWindowBorderColor;
           	height: @memberManagerHeight;
           	overflow-y: auto;
           &>ul{
           }
        }
				& .loadwait{
					position: absolute;
					z-index: 9999;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background: rgba(00,00,00,0.3);
					display: none;
					& img {
						position: absolute;
						top: 50%;
						left: 50%;
						margin-left: -8px;
						margin-top: -8px;
					}
				}        
    }
    & .column2{
        padding: 10px;
       vertical-align: middle;

    }
    & .column3{
        vertical-align: top;
        width: 50%;
    }
    & .ztree li span.button.switch {
        display: none;
    }
}

#selectedTree .showDelete{
    float: right;
    margin-right: 6px;
    margin-top: 11px;
    color:#0066BF;
    width: 20px;
    height: 20px;
    display: none;
    background:url(../images/service_ico.png) no-repeat 0 -280px;
}

/*修改ztree样式*/
.ztree{
	padding: 0;
}
.ztree li a{
    width: 100%;
    padding-left: 6px;
    &:hover{
    	text-decoration: none;
    }
}
.ztree li a.curSelectedNode{
	background-color: #A8DBFD;
}
.ztree li a,
.ztree li a.curSelectedNode{
    height: 34px;
    line-height: 34px;
}
.ztree li span.button{
    width: 20px;
    height: 20px;
}
.ztree li span.button.ico_docu,
.ztree li span.button.user_ico_docu{
    background: url(../images/service_ico.png);
    background-position: 0 20px;
    vertical-align: -8px;
}
.ztree li span.button.ico_open,
.ztree li span.button.business_ico_open{
    vertical-align: -8px;
    background: url(../images/service_ico.png);
    background-position: 0 -80px;
}
.ztree li span.button.ico_close,
.ztree li span.button.business_ico_close,
.ztree li span.button.business_ico_docu{
    vertical-align: -8px;
    background: url(../images/service_ico.png);
    background-position: 0 -100px;
}


#selectedTree {
    padding: 0;
}
#selectedTree.ztree li>a {
    border-bottom:1px solid #CCC;
}


