.servicesIndexBox {min-height: 100%; background-color: #eee; padding: 30px 0px;
	.servicesIndex { width: 1000px; margin: 0 auto; padding: 0px 150px 80px 150px; background-color: #fff;
		.item { text-align: center; float: left; width: 33%; margin-top: 80px;
			.bg { margin: 0 auto; width: 120px; height: 122px; background: url('/services/images/index.png') 0px 1px no-repeat; }
			.text { margin-top: 30px; font-size: 14px; color: #666; }
			a { text-decoration: none; }
			&.project { .bg { background-position: 0px -120px; }
			}
			&.application { .bg { background-position: 0px -241px; }
			}
			&.systen { .bg { background-position: 0px -362px; }
			}
			&.log { .bg { background-position: 0px -483px; }
			}


		}
	}
}
.serviceHeader { position: relative; z-index: 1;
	.crumbs { border-top: 1px solid #ccc; padding-left: 20px; height: 40px;
		.item { float: left; line-height: 40px; height: 40px; }
		.iconLeft { margin: 16px 15px 0px 15px; width: 5px; vertical-align: top; }
	}
	.serviceNav { background-color: #eee; border: 1px solid #ccc; border-width: 1px 0px; padding-top: 8px; height: 38px; padding-left: 20px;
		.item { cursor: pointer; border-top: 2px solid #eee; float: left; line-height: 27px; height: 29px; width: 98px; text-align: center; cursor: pointer;
			&.selected { border: 1px #ccc solid; border-top: 2px solid #006ecf; border-bottom-color: #fff; background-color: #fff; }
		}
	}
}