/*主体*/
input[type='range']{
  width:100%;
  -webkit-appearance: none;
  height:12px;
  background-color:transparent;
}
input[type='range']::-ms-track{
  width:100%;
  cursor:pointer;
  background:transparent;
  border-color:transparent;
  color:transparent;
}
input[type='range']:focus{
  outline:none;
}

/*滑块*/
input[type='range']::-webkit-slider-thumb{
  -webkit-appearance: none;
  border: 1px solid #ccc;
  height: 12px;
  width: 8px;
  border-radius: 1000px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -2px;
  box-shadow: 1px 1px 1px #000, 0px 0px 1px #666;
}
input[type=range]::-moz-range-thumb{
  border: 1px solid #ccc;
  height: 12px;
  width: 8px;
  border-radius: 1000px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000, 0px 0px 1px #666;
}
input[type=range]::-ms-thumb{
  border: 1px solid #ccc;
  height: 12px;
  width: 8px;
  border-radius: 100px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000, 0px 0px 1px #666;
}
/*轨道*/
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #666;
  border-radius: 1000px;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #666;
  border-radius: 1000px;
}
input[type=range]::-ms-track { /*轨道底色*/
  width: 100%;
  height: 8px;
  border-radius:1000px;
  cursor: pointer;
  background: #666;
  border-width:0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {/*轨道滑过颜色*/
  background: #aaa;
  border-radius:1000px;
}
input[type=range]:focus::-ms-fill-lower {/*轨道选中滑过颜色*/
  background: #aaa;
}
input[type=range]::-ms-fill-upper {
  background: #666;
  border-radius: 1000px;
}
input[type=range]:focus::-ms-fill-upper {
  background: #666;
}
