/* treeView  */
.tree-view{
  padding:12px 12px 0;
  list-style:none;
  font-size:12px;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  position:relative;
}
.tree-view + .tree-view{
  padding:0 12px;
}
.tree-view ul{
  margin:0;
  padding:0;
  list-style:none;
  padding-left:18px;
}
.tree-view .rootNode,
.tree-view .tree-view .itemNode {
  position: relative;
  list-style-type: none;
}
.tree-view .item-content{
  padding:3px;
}
.context-menu{
  display:none;
  position:absolute;
  background:#fafafa;
  border:1px solid #ccc;
}
.context-menu .item-menu{
  display:block;
  width:50px;
  height:24px;
  line-height:24px;
  color:#000;
  font-size:12px;
  padding:0 5px;
  border-bottom:1px solid #ccc;
  cursor:pointer;
}
.context-menu .item-menu:last-child{
  border:none;
}
.context-menu .item-menu:hover{
  background:#f2f2f2;
  text-decoration:none;
}
/*.tree-view .item-content:hover {
  background-color: #06c;
  color:#fff;
}*/
.current{
  background:#a8dbfd;
}
.tree-view .nodeSwitch {
  width:9px;
  height: 9px;
  display:inline-block;
  cursor: pointer;
  vertical-align:2px;
  color:#333;
  background:url(../images/tree.png) no-repeat;
  background-position:0 0;
}
.viewpoint{
  display:inline-block;
  width:12px;
  height:11px;
  margin:0 3px;
  background:url(../images/tree.png) no-repeat;
  background-position:0 -80px;
}
.tree-view .open .nodeSwitch{
  background-position:0 -20px;
}
.tree-view .open + .treeViewSub{
  display:block;
}
.tree-view .noneSwitch {
  float: left;
  width: 14px;
  height: 12px;
}
.treeViewSub{
  display:none;
}
.tree-checkbox{
  display:inline-block;
  width:13px;
  height:13px;
  margin:0 3px;
}
.tree-checkbox input{
  display:none;
}
.tree-text{
  vertical-align:2px;
  padding:2px 3px;
  cursor:pointer;
}
.tree-checkbox .box{
  display:inline-block;
  width:13px;
  height:13px;
  background:url(../images/tree.png) no-repeat;
  background-position:0 -60px;
}
.tree-checkbox input:checked + .box{
  background-position:0 -40px;
}
