<div class="commentThumbnailBox">
	<img src="/platform/user/<%= this.model.creatorId%>/photo">
</div>
<div class="commentDescBox">
	<p><%= this.model.creatorName %> <%= new Date(this.model.createTime).format("yyyy-MM-dd hh:mm") %></p>
	<h2><%= this.model.text%></h2>
	<%if(this.model.attachments && this.model.attachments.length>0){%>
		<div class="commentDescListBox" id="commentDescListBox">
			<%for(var i=0,len=this.model.attachments.length;i<len;i++){%>
				<%if(this.model.attachments[i].type == 1){%>
					<div class="commentDescComponentBox" id="<%= this.model.attachments[i].id%>">
						<div class="attachmentThumbnailBox">
							<a href="<%= this.model.attachments[i].pictureUrl %>" title="<%= this.model.attachments[i].description %>" data-type="<%= this.model.attachments[i].type %>" data-lightbox="example-1">
								<img src="<%= this.model.attachments[i].pictureUrl%>">
							</a>
						</div>
						<div class="attachmentDescBox">
							<div class="attachmentDescNameBox"><%= this.model.attachments[i].description%></div>
							<div class="attachmentDescSizeBox">[图片]</div>
						</div>
					</div>
				<%}else if(this.model.attachments[i].type == 3){%>
					<div class="commentDescComponentBox" id="<%= this.model.attachments[i].id%>">
						<div class="attachmentThumbnailBox" data-id="<%= this.model.id%>" data-viewpointid="<%= this.model.attachments[i].data%>">
							<a href="<%= this.model.attachments[i].pictureUrl %>" title="<%= this.model.attachments[i].description %>" data-lightbox="example-1">
								<img src="<%= this.model.attachments[i].pictureUrl%>">
							</a>
						</div>
						<div class="attachmentDescBox">
							<div class="attachmentDescNameBox"><%= this.model.attachments[i].description%></div>
							<div class="attachmentDescSizeBox">[快照]<a href="javascript:;" data-viewpointid="<%= this.model.attachments[i].data%>" data-id="<%= this.model.id%>" class="commentLookModel">查看模型</a></div>
						</div>
					</div>
				<%}else if(this.model.attachments[i].type == 4){%>
					<div class="commentDescComponentBox">
						<a href="javascript:;" class="canDownloadFile" data-viewpointid="<%= this.model.viewpointId%>" data-attachmentid="<%= this.model.attachments[i].id%>">
							<div class="attachmentThumbnailBox"><img src="../../../images/word.png"></div>
							<div class="attachmentDescBox">
								<div class="attachmentDescNameBox"><%= this.model.attachments[i].description%></div>
								<div class="attachmentDescSizeBox"><%= App.Comm.formatSize(this.model.attachments[i].length)%></div>
							</div>
						</a>
					</div>
				<%}else if(this.model.attachments[i].type == 5){%>
					<div class="commentDescComponentBox">
						<a href="javascript:;" class="canDownloadFile" data-viewpointid="<%= this.model.viewpointId%>" data-attachmentid="<%= this.model.attachments[i].id%>">
							<div class="attachmentThumbnailBox"><img src="../../../images/ppt.png"></div>
							<div class="attachmentDescBox">
								<div class="attachmentDescNameBox"><%= this.model.attachments[i].description%></div>
								<div class="attachmentDescSizeBox"><%= App.Comm.formatSize(this.model.attachments[i].length)%></div>
							</div>
						</a>
					</div>
				<%}else if(this.model.attachments[i].type == 6){%>
					<div class="commentDescComponentBox">
						<a href="javascript:;" class="canDownloadFile" data-viewpointid="<%= this.model.viewpointId%>" data-attachmentid="<%= this.model.attachments[i].id%>">
							<div class="attachmentThumbnailBox"><img src="../../../images/excel.png"></div>
							<div class="attachmentDescBox">
								<div class="attachmentDescNameBox"><%= this.model.attachments[i].description%></div>
								<div class="attachmentDescSizeBox"><%= App.Comm.formatSize(this.model.attachments[i].length)%></div>
							</div>
						</a>
					</div>
				<%}else if(this.model.attachments[i].type == 7){%>
					<div class="commentDescComponentBox">
						<a href="javascript:;" class="canDownloadFile" data-viewpointid="<%= this.model.viewpointId%>" data-attachmentid="<%= this.model.attachments[i].id%>">
							<div class="attachmentThumbnailBox"><img src="../../../images/pdf.png"></div>
							<div class="attachmentDescBox">
								<div class="attachmentDescNameBox"><%= this.model.attachments[i].description%></div>
								<div class="attachmentDescSizeBox"><%= App.Comm.formatSize(this.model.attachments[i].length)%></div>
							</div>
						</a>
					</div>
				<%}else if(this.model.attachments[i].type == 8){%>
					<div class="commentDescComponentBox">
						<a href="javascript:;" class="canDownloadFile" data-viewpointid="<%= this.model.viewpointId%>" data-attachmentid="<%= this.model.attachments[i].id%>">
							<div class="attachmentThumbnailBox"><img src="../../../images/dwg.png"></div>
							<div class="attachmentDescBox">
								<div class="attachmentDescNameBox"><%= this.model.attachments[i].description%></div>
								<div class="attachmentDescSizeBox"><%= App.Comm.formatSize(this.model.attachments[i].length)%></div>
							</div>
						</a>
					</div>
				<%}else if(this.model.attachments[i].type == 9){%>
					<div class="commentDescComponentBox">
						<a href="javascript:;" class="canDownloadFile" data-viewpointid="<%= this.model.viewpointId%>" data-attachmentid="<%= this.model.attachments[i].id%>">
							<div class="attachmentThumbnailBox"><img src="../../../images/rvt.png"></div>
							<div class="attachmentDescBox">
								<div class="attachmentDescNameBox"><%= this.model.attachments[i].description%></div>
								<div class="attachmentDescSizeBox"><%= App.Comm.formatSize(this.model.attachments[i].length)%></div>
							</div>
						</a>
					</div>
				<%}else if(this.model.attachments[i].type == 10){%>
					<div class="commentDescComponentBox">
						<a href="javascript:;" class="canDownloadFile" data-viewpointid="<%= this.model.viewpointId%>" data-attachmentid="<%= this.model.attachments[i].id%>">
							<div class="attachmentThumbnailBox"><img src="../../../images/default.png"></div>
							<div class="attachmentDescBox">
								<div class="attachmentDescNameBox"><%= this.model.attachments[i].description%></div>
								<div class="attachmentDescSizeBox"><%= App.Comm.formatSize(this.model.attachments[i].length)%></div>
							</div>
						</a>
					</div>
				<%}%>
			<%}%>
		</div>
	<%}%>
</div>
<%if(this.model.creatorId == App.Comm.user("userId")){%>
	<a href="javascript:;" data-id="<%= this.model.id%>" data-viewpointid="<%= this.model.viewpointId%>" class="deleteNotesCommentBtn">删除</a>
<%}%>
<input type="hidden" data-viewpointid="<%= this.model.viewpointId%>">