<div class="searchConditionBoxTop">
	<div class="modelLine"></div>
	<div class="searchTextBox">查询条件</div>
</div>
<div class="searchConditionBoxBottom">
	<div class="searchBoxS">
		<span>关键词</span>
		<div class="keyTextInputBox">
			<input type="text" placeholder="批注人/批注内容">
		</div>
	</div>
	<div class="searchBoxS">
		<span>版本名称</span>
		<div class="keyTextInputBox">
			<select>
				<option selected>全部</option>
				<%if(obj.default.versionIds.length>0){ %>
					<%for(var i=0,len=obj.default.versionIds.length;i<len;i++){%>
						<option versionId="<%= obj.default.versionIds[i].id %>"><%= obj.default.versionIds[i].name %></option>
					<%}%>
				<%}%>
			</select>
		</div>
	</div>
	<div class="searchBoxS">
		<span class="searchLabel">时间：</span>
		<div class="firstDate dateBox data" style="position: relative;">
			<i class="icon-remove add-on clearStartTime"></i>
		    <i class="iconCal add-on"></i>
		    <input readonly="true" placeholder="开始时间" id="notesDateStar" type="text" value="">
		</div>
		<span class="searchLabel">—至—</span>
		<div class="firstDate dateBox data">
		    <i class="icon-remove add-on clearEndTime"></i>
		    <i class="iconCal add-on"></i>
		    <input readonly="true" placeholder="结束时间" id="notesDateEnd" type="text" value="">
		</div>
	</div>
	<div class="searchBoxS">
		<button>查询</button>
	</div>
</div>