<li class="item">
    <span class="title">
    		  	<img src="/projects/images/proDefault.png" />
    		  	<a href="<%= App.ResourcesNav.getNavUrl(id,obj.version) %>" class="name"><%= name%>	</a> 

    		  </span>
    <span class="designUnit"><%= designUnit || '--' %>	</span>
    <span class="createDate"><%=  new Date(createTime).format("yyyy-MM-dd")%>	</span>
    <span class="lastModifiedDate"><%=  lastModifyTime?new Date(lastModifyTime).format("yyyy-MM-dd"):'--'%>	</span>
    <span class="introduction">
        <% if (obj.version && obj.version.desc) {%>
        <b title="<%= obj.version.desc %>"><%=  obj.version.desc %></b>
        <% }else {%>
        <i>暂无说明</i>
        <%}%>
    </span>
</li>
 
