html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
 address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt,
  var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, 
  thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary, time, mark, audio, video {
   margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;
    outline: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; 
    font-family: "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", STHeiti, Verdana, Arial, sans-serif;
  }
  input{ font-size: 14px; font-family: "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", STHeiti, Verdana, Arial, sans-serif;}
body { font-size: 12px; line-height: 1;  }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }
p { font-size: 1.2em; line-height: 1.0em; color: #333; }
.clear { clear: both; }
a { color: #fff; text-decoration: none; }
.relative { position: relative; }
@color: #4D926F;
.rounded-corners (@radius:4px) { -webkit-border-radius: @radius; -moz-border-radius: @radius; -ms-border-radius: @radius; -o-border-radius: @radius; border-radius: @radius; }
.loginDialogWidth() { width: 260px; box-sizing: border-box; display: block; margin: 0 auto; margin-top: 10px; }
.layout { position: absolute; top: 0; left: 0; right: 0; bottom: 0; min-width: 1000px; min-height: 720px; background: url('/login/images/login-bg.jpg') no-repeat; background-size: cover;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/login/images/login-bg.jpg', sizingMethod='scale')}
.loginForm { position: absolute; bottom: 202px; top: 0; left: 0; right: 0; }
#mainBox { height: 100%; padding-top: 1px; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/login/images/login-bg.jpg', sizingMethod='scale');
  .logo { margin: 38px 0px 0px 50px; width: 128px; height: 30px; background: url('/login/images/logo.png') no-repeat; float: left; }
  .headTitle { width: 524px; font-size: 40px; color: #fff; top: 18%; position: absolute; left: 50%; margin-left: -262px;
    .introduction { margin-top: 15px; font-size: 26px; height: 30px;
      .item { width: 125px; float: left; margin-left: 65px; padding-left: 20px;
        &.first { margin-left: 0px; }
      }
    }
  }
  .loginDialog { width: 300px; height: 280px; background: #000; background-color: rgba(0, 0, 0, 0.5); color: #fff; top: 40%; position: absolute; left: 50%; margin-left: -150px; z-index: 6;
    .header { margin-top: 24px; font-size: 20px; text-align: center; }
    .errorMSG { border: 1px solid #FFCF85; background-color: #FFFDEA; color: #FF6649; height: 28px; padding-left: 5px; line-height: 28px; .loginDialogWidth; .rounded-corners; visibility: hidden;
      &.show { visibility: visible; }
      .iconWarning { display: inline-block; height: 16px; width: 22px; background: url('/login/images/icons.png') no-repeat; vertical-align: top; margin-top: 6px; }
    }
    .txtInput { height: 12px; border: 0; outline: 0; padding-left: 42px; padding-right: 5px; padding-top: 15px; padding-bottom: 15px; width: 213px; display: block; margin: 0 auto; margin-top: 10px; .rounded-corners; }
    .txtIcon { background: url('/login/images/icons.png') no-repeat 0px -17px; position: absolute; width: 20px; height: 20px; top: 11px; left: 30px;
      &.userPwd { background-position: 0px -37px; }
    }
    .loginHelper { .loginDialogWidth;
      .remember { background: url('/login/images/icons.png') no-repeat 0px -59px; padding: 1px 1px 1px 20px; cursor: pointer; width: 112px;
        &.selected { background-position: 0px -75px; }
      }
      .forgotPwd { float: right; }
    }
    .btnLogin { display: block; margin: 0 auto; margin-top: 10px; text-align: center; width: 260px; height: 40px; .rounded-corners; border: 0; background-color: #418CDF; color: #fff; font-size: 18px; }
    .btnLogin:hover { background-color: #56A0E4; }
  }
}
.footerWrap { height: 202px; background: #EEE; position: absolute; bottom: 0; left: 0; right: 0; }
.footer { width: 1000px; margin: 0 auto; padding-top: 40px; height: 176px; background-color: #eee;
  .item { margin-right: 30px; float: left; display: inline; }
  .iconBg { width: 72px; height: 72px; float: left; background: url('/login/images/icons.png') no-repeat; }
  .iconPlanning { background-position: 0px -88px; }
  .iconPlan { background-position: 0px -160px; }
  .iconCost { background-position: 0px -232px; }
  .iconQuality { background-position: 0px -305px; }
  .introduction { margin-left: 80px; width: 145px; }
  .title { font-size: 20px; color: #000; }
  .desc { color: #999; margin-top: 10px; line-height: 20px;font-size: 12px; }
  .last { margin-right: 0px; }
}
.copyrightBox { position: absolute; z-index: 4; left: 0; right: 0; bottom: 0; height: 36px; border-top: 1px #ccc solid; text-align: center; background-color: #eee; line-height: 36px; color: #999; }