<table>
	<thead>
		<tr>
			<td>标题</td>
			<td>链接地址</td>
			<td>发布时间</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<input type="text" id="noticeTitle" value="<%= title %>" placeholder="请输入公告标题">
			</td>
			<td>
				<input type="text" id="noticeLink" value="<%= href %>" placeholder="请输入公告链接地址">
			</td>
			<td>
				<input type="text" id="noticeTime" value="<%= publishTime %>" placeholder="请输入公告发布时间">
			</td>
		</tr>
	</tbody>
</table>
<div class="newLinkNoticeFoot">
	<button id="publishBtn">发布</button>
	<button id="saveBtn">保存</button>
	<button id="cancelBtn">取消</button>
</div>