body{
	background-color: #f3f3f3;
	min-height: 500px;
	min-width: 1000px;
}

#modelBox{
	 position: absolute;top:52px;bottom: 0px;left:0px;right: 0px;  min-height: 200px; overflow: hidden; overflow-y: auto;
}

.header{
	height: 52px;line-height: 52px;background-color: #005BAC;font-size: 18px;color:#fff;
	.name{
		margin-left: 30px;
	}
	.downLoad{ font-size: 14px;
		float: right;margin-right: 10px;width: 105px;height: 100%;
		background-color: #117EE1;text-align: center;cursor: pointer;
		&:hover{background-color: #439EF1;}
	}
}