<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>组件</title>
	<link rel="stylesheet" href="./less/fileSelection.less">
</head>
<body>
	
 <button id="show">show</button>

	<script type="text/javascript" src="./libs/jquery/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="./es6/fileSelection.es6"></script>

	<script type="text/javascript">
	var Files;
		$("#show").click(function(){
			Files=FileSelection({
				appKey:"82f776b96adf48a083e119c0b5435a05",
				token:"123",
				isDrag:true,
				projectId:854439673340096,
				projectVersionId:854440469356736,
				//fileIds:"854440553947648", //逗号隔开
				callback:function(){
					
				}
				
			});
		});
	</script>
</body>
</html>