/*
* @author @baoym@grandsoft.com.cn
* @icons sprite
*/

[class^="sicon-"],
[class*=" sicon-"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    background: url(./image/icons.png) no-repeat;
}

.sicon-filter {
    background-position: 0 0;
}

.sicon--filter-gray {
    background-position: -1868px -70px;
}

.sicon-arrow-down {
    background-position: -70px 0;
}

.sicon-arrow-up {
    background-position: -140px 0;
}

.sicon-cancel {
    background-position: -210px 0;
}

.sicon-checkbox {
    background-position: -350px 0;
}

.sicon-checkbox-checked {
    background-position: -280px 0;
}

.sicon-collapse {
    background-position: -420px 0;
}

.sicon-confirm {
    background-position: -490px 0;
}

.sicon-date {
    background-position: -560px 0;
}

.sicon-delete-disabled {
    background-position: -630px 0;
}

.sicon-delete {
    background-position: -700px 0;
}

.sicon-up {
    background-position: -770px 0;
}

.sicon-download-disabled {
    background-position: -840px 0;
}

.sicon-download {
    background-position: -910px 0;
}

.sicon-dropdown {
    background-position: -980px 0;
}

.sicon-dropup {
    background-position: -1050px 0;
}

.sicon-expand {
    background-position: -1120px 0;
}

.sicon-goto {
    background-position: -1138px -17px;
}

.sicon-favorites-filter {
    background-position: -1330px 0;
}

.sicon-favorites-filter-gray {
    background-position: -1939px -69px;
}

.sicon-favorite-disabled {
    background-position: -682px -74px;
}

.sicon-favorite {
    background-position: -752px -74px;
}

.sicon-un-favorite-disabled {
    background-position: -1180px -18px;
}

.sicon-un-favorite {
    background-position: -1160px -18px;
}

.sicon-folder-open {
    background-position: -1400px 0;
    width: 23px;
    height: 18px;
}

.sicon-folder {
    background-position: -1473px 0;
    width: 23px;
    height: 18px;
}

.sicon-sfolder {
    background-position: -1418px -18px;
}

.sicon-file {
    background-position: -1398px -18px;
}

.sicon-list {
    background-position: -1546px 0;
    width: 60px;
    height: 24px;
}

.sicon-lock {
    background-position: -1656px 0;
}

.sicon-more {
    background-position: -1726px 0;
}

.sicon-nav-right {
    background-position: -1673px -70px;
}

.sicon-newfolder {
    background-position: -1866px 0;
    width: 18px;
    margin-left: -1px;
}

.sicon-newfolder-disabled {
    background-position: -1890px 0;
    width: 18px;
    margin-left: -1px;
}

.sicon-public-disabled {
    background-position: -1936px 0;
}

.sicon-public-filter {
    background-position: 0 -74px;
}

.sicon-public-filter-gray {
    background-position: -1936px 0;
}

.sicon-public {
    background-position: -70px -74px;
}

.sicon-public-setting {
    background-position: -1539px -52px;
}

.sicon-public-browser {
    background-position: -1504px -52px;
}

.sicon-public-clip {
    background-position: -1523px -51px;
    width: 18px;
}

.sicon-public-close {
    background-position: -1557px -52px;
}

.sicon-public-close:hover {
    background-position: -1575px -51px;
}

.sicon-recycle-filter {
    background-position: -140px -74px;
}

.sicon-recycle-filter-gray {
    background-position: -630px 0;
}

.sicon-refresh {
    background-position: -210px -74px;
}

.sicon-restore-disabled {
    background-position: -280px -74px;
}

.sicon-restore {
    background-position: -350px -74px;
}

.sicon-search {
    background-position: -420px -74px;
}

.sicon-success {
    background-position: -490px -74px;
    width: 32px;
    height: 32px;
}

.sicon-thumbnail {
    background-position: -572px -74px;
    width: 60px;
    height: 24px;
}

.sicon-unlock {
    background-position: -822px -74px;
}

.sicon-unpublic-disabled {
    background-position: -892px -74px;
}

.sicon-unpublic {
    background-position: -962px -74px;
}

.sicon-down {
    background-position: -1032px -74px;
}

.sicon-upload {
    background-position: -1102px -74px;
    width: 23px;
    height: 18px;
}

.sicon-upload-disabled {
    background-position: -1128px -74px;
    width: 23px;
    height: 18px;
}

.sicon-uplodfile-upload {
    background-position: -1175px -74px;
    width: 23px;
    height: 18px;
}

.sicon-checkbox-checked-disabled {
    background-position: -1248px -74px;
}

.sicon-add {
    background-position: -1303px -71px;
}

.sicon-organization {
    background-position: -1372px -68px;
}

.sicon-pick {
    background-position: -1448px -71px;
    width: 16px;
}

.sicon-help {
    background-position: -1603px -69px;
}

.sicon-arrow-tab {
    background-position: -1791px -69px;
}

.sicon-explorer-close {
    background-position: 0 -20px;
    width: 30px;
    height: 24px;
}

.sicon-explorer-open {
    background-position: -40px -20px;
    width: 30px;
    height: 24px;
}
