<% if(havaAttachment){%>
	<td><a href="javascript:;" class="downLoadId" data-downloadid="<%= id%>"></a></td>
<%}else{%>
	<td></td>
<%} %>
<%if(haveReply){%>
    <td class="feedBackTd" data-feedbackid="<%= id%>">
        <p><span>建议内容：</span><%=title%></p>
        <%if(adviceReplys.length>0){%>
            <p class="feedBackContentText"><span>回复内容：</span><%= adviceReplys[0].content%> <%=createTime%></p>
        <%}%>
    </td>
<%}else{%>
    <td class="feedBackTd" data-feedbackid="<%= id%>">
        <p><span>建议内容：</span><%=title%></p>
    </td>
<%}%>
<td><%=createName%></td>
<td><%=createTime%></td>
<% if(haveReply){%>
	<td>已回复</td>
<%}else{%>
	<td>未回复</td>
<%}%>
<td data-feedbackid="<%= id%>">
	<a href="javascript:;" class="answerBtn">回复</a>
</td>