<table>
    <tr>
        <td>
            <input value="<%= title%>" readonly type="text" id="sugTitle" placeholder="请输入标题">
        </td>
    </tr>
    <tr>
        <td>
            <textarea readonly id="sugDescr" placeholder="请输入您的建议与反馈" maxlength="500"><%= content%></textarea>
        </td>
    </tr>
    <tr>
        <td class="textRow">
            <span class="label">附件</span>
        </td>
    </tr>
    <tr>
        <td class="attachList">
            <%if(attachmentList.length>0){%>
                <% _.each(attachmentList,function(item){ %>
                    <div>
                        <a href="javascript:;" data-id="<%= item.id%>" class="alink listItem">
                            <%= item.attachmentName%>
                        </a>
                    </div>
                <%})%>
            <%}%>
        </td>
    </tr>
     <tr>
        <td class="textRow feedBackTr">
            <span class="label">回复</span>
        </td>
    </tr>
    <tr>
        <td class="feedBackTrList">
        <%if(adviceReplys.length>0){%>
            <% _.each(adviceReplys,function(item){ %>
                <dl class="feedBackDl">
                    <dt>
                        <span><%= item.replyName%></span>
                        <span><%= item.replyTimeStr%></span>
                    </dt>
                    <dd><%= item.content%></dd>
                    <a href="javascript:;" data-id="<%= item.id%>" data-adviceid="<%= item.adviceId%>">删除</a>
                </dl>
            <%})%>
        <%}%>
            
        </td>
    </tr>
    <tr>
        <td>
            <textarea name="" id="feedBackDesc" cols="30" rows="5" placeholder="请输入回复内容" maxlength="500"></textarea>
        </td>
    </tr>
</table>
<div class="dialogFooterButton">
    <%if(adviceReplys.length>0){%>
       <button id="saveButton" class="disabled">确定</button>
    <%}else{%>
        <button id="saveButton">确定</button>
    <%}%>
</div>