<div class="hedaerSearch">
    <span class="searchToggle">选择筛选条件</span>
    <span class="clearSearch">清除条件</span>
    <span class="groupRadio">
            <label class="btnCk"><i class="iconPic"></i>显示搜索结果对应位置</label> 
        </span>  
</div>
<div class="searchDetail openingacceptance">
    <div class="searchOptons">

    	 <div class="optonLine zIndex10">
             <div class="myDropDown categoryOption optionComm">
                <span class="myDropText">
             <span>类别：</span> <span class="text">全部</span> <i class="myDropArrorw"></i> </span>
                 <ul class="myDropList">
                     <li class="myItem" data-val=''>全部</li>
                     <% _.each(App.Project.mapData.openCategory,function(item,index){ if(index!=0){%>
                     <li class="myItem" data-val='<%=index%>'><%=item%></li>
                     <% } }) %>
                 </ul>
             </div>
         
        </div>

        <div class="optonLine">
            <div class="myDropDown statusOption optionComm">
                <span class="myDropText">
             <span>状态：</span> <span class="text">全部</span> <i class="myDropArrorw"></i> </span>
                <ul class="myDropList">
                    <li class="myItem" data-val=''>全部</li>
                    <li class="myItem" data-val=''>合格</li>
                    <li class="myItem" data-val=''>不合格</li>
                </ul>
            </div>
            <div class="myDropDown riskOption optionComm">
                <span class="myDropText">
             <span>有无隐患：</span> <span class="text">全部</span> <i class="myDropArrorw"></i> </span>
                <ul class="myDropList">
                    <li data-status="" class="myItem">全部</li>
                    <li data-status="1" class="myItem">有</li> 
                </ul>
            </div>
        </div>
     
   

        <div class="optonLine btnOption">
            <input type="button" class="myBtn myBtn-primary btnFilter" value="筛选" />
        </div>

    </div>
</div>

<div class="tbContainer">
    <table class="tbOpeningacceptanceHeader tbComm">
        <thead>
            <tr>
                <th class="manifestIcon"></th> 
                <th class="specialities">专业</th>
                <th class="category">类别</th>
                <th class="positon">位置</th> 
                <th class="ckResult">检查结果</th>
            </tr>
        </thead>
    </table>
    <div class="materialequipmentList openingacceptanceList">
        <div class="materialequipmentListScroll">
            <table class="tbOpeningacceptanceBody tbComm">
                <tbody>
                	<tr class="noLoading"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="paginationBottom">
  <div class="pageInfo">
        <span class="curr">1</span>/<span class="pageCount">123</span>页
        <span class="prev">上一页</span> <span class="next">下一页</span>
    </div>
    <div class="sumCount">共<span class="count">1</span>条</div>
  
</div>