<%for(var i=0;i<100;i++){%>
    <tr class="<%= i%2==0 && 'odd' %>">

        <td class="concernInfo">

            <img class="ckImg mCS_img_loaded" src="/static/dist/images/projects/images/proDefault.png" alt="">

            <div class="ckHeader">
                <div class="ckName">墙面防水高度不够</div> 
                <div class="date">
                    <span>创建日期：</span><span>2016-6-3</span>
                </div>
                <div class="date">
                    <span>整改日期：</span><span>2016-6-3</span>
                </div>
                <div class="upCount">
                    <span>整改次数：</span><span>4</span>
                </div>
            </div>

        </td>

        <td class="category">过程验收</td>
        <td class="status">待整改</td>
        <td class="grade">一般</td>
        <td class="operator">总包单位</td>
        <td class="type">安全文明</td>
    </tr>
<% } %>
