<% $.each(data.items,function(i,item){%> 
    <tr class="<%= i%2==0 && 'odd' %>">

        <td class="concernInfo">

            <img class="ckImg mCS_img_loaded" src="/static/dist/images/projects/images/proDefault.png" alt="">

            <div class="ckHeader">
                <div class="ckName"><%=item.title%></div> 
                <div class="date">
                    <span>创建日期：</span><span><%= new Date(item.discoveryDate).format('yyyy-MM-dd') %></span>
                </div>
                <div class="date">
                    <span>整改日期：</span><span><%= new Date(item.rectifyDate).format('yyyy-MM-dd') %></span>
                </div>
                <div class="upCount">
                    <span>整改次数：</span><span><%=item.rectifyCount%></span>
                </div>
            </div>

        </td>

        <td class="category"><%=item.acceptanceType%></td>
        <td class="status"><%=item.status==1 && '待整改' || item.status==2 && '已整改' || '已关闭'   %></td>
        <td class="grade"><%= item.level==1 && '一般' ||item.level==2 && '较大' ||item.level==3 && '重大' || '特大'  %></td>
        <td class="operator"><%=item.organizationTypeId%></td>
        <td class="type"><%=item.ratingCategoryId%></td>
    </tr>
<% }) %>  
 


<% if(data.items.length<=0){%>
    
    <tr>
        <td colspan="9" class="noDataTd">暂无数据</td>
    </tr>
    
<%}%>