<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>模型选择器</title>
  <script src="http://bim-uat.wanda-dev.cn/static/dist/components/modelSelection/js/modelSelection.js"></script>
</head>
<body>
<input type="button" id="model" value="show">
<script>
    var res=window.showModalDialog('http://bim.wanda-dev.cn/static/dist/components/points/index.html?projectCode=c366f01f-b79f-4305-b7ed-907a812d9a2f&type=1&elementId=889033510183136.405b99b7-e0d2-4b8f-ae7f-5843079a676b-0031c3f3&x=47272.055705657694&y=-44230.50001777573&z=15469.612532401583',{},"dialogWidth:1200px;dialogHeight:800px;");
    if(res){
        alert(res)
    }
</script>
</body>
</html>
