<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>模型选择器</title>
  <script src="http://bim.wanda-dev.cn/static/dist/components/modelSelection/js/modelSelection.js"></script>
</head>
<body>
<input type="button" id="model" value="show">
<script>
 var viewer = new ModelSelection({
      type:'multi',//multi,single
      projectCode:'2196E47F-FACC-45F4-B835-577C7BC65BEB',
      //multi 只有components回调参数
      callback:function(components,markers){
        console.log(ids);
      }
    });
</script>
</body>
</html>
