<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>模型选择器</title>
    <script src="http://bim.wanda-dev.cn/static/dist/components/modelSelection/js/modelSelection.js"></script>
</head>

<body>
    <script type="text/javascript">
    var viewer = new ModelSelection({
        type: 'multi', //multi,single
        sourceId: '848069790540000',
        etag:  "ca4863cf122ac55b5a8e845595aeb7ce",//"21b8481b7e892ec87694259ddaddbfd7" ||
        projectId: '1',
        projectVersionId: '784306105035931',
        //multi 只有components回调参数
        callback: function(components, markers) {
            console.log(components);
        }
    });

    function getData(){ 
        return JSON.stringify(viewer.viewData || "");
    }
    </script>
</body>

</html>
