<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>模型选择器</title>
    <meta http-equiv='pragma' content='no-cache'>
    <meta http-equiv='cache-control' content='no-cache'>
  <script src="http://bim.wanda-dev.cn/static/dist/components/modelSelection/js/modelSelection.js"></script>
</head>
<body>
<input type="button" id="model" value="show">
<script>
 jQuery.support.cors = true;
 var viewer = new ModelSelection({
      type:'single',//multi,single
      appKey:"18fbec1ae3da477fb47d842a53164b14",
      token:"abc3f4a29812170851a0c7ecb6853644abbc902af4b4e57636f27c35bec6628b15e908ae402e0a9034a25d72c17888256dce64f713c532348de5d78acfef88c76b670ed8abcaf44df638ba8ecd2768c93a8fe01b63bb1204014a5efb168a2a9a520bc09d70d8f2afbed49d95c982b73456b476ad825f1ac9",
      projectCode:'18dc7a80-257a-4b44-b1f1-1c1db4af5987',
      callback:function(components,markers){
          alert(components)
          window.returnValue=JSON.stringify(components)
      }
    });
</script>
</body>
</html>
