.projectHeader { height: 37px; background-color: #f5f5f5; border-bottom: 1px #ccc solid; position: relative; z-index: 999;
	.projectTab { float: right; height: 37px; position: relative; z-index: 3000;
		.item { float: left; height: 100%; line-height: 37px; width: 35px; font-size: 16px; position: relative; text-align: center; margin-right: 40px; cursor: pointer;
			.line { bottom: 0px; width: 100%; height: 3px; position: absolute; left: 0px; text-align: center; }
			&.last { margin-right: 20px }
			&.selected { .line { background-color: #06c; }
			}
			&:hover { .line { background-color: #06c; }
			}
		}
	}
	.breadcrumbNav { line-height: 37px; padding-left: 20px; font-size: 14px; position: relative;
		.projectText, .breadItem { float: left; }
		.breadItem { margin-left: 6px;
			.icon-angle-right { font-size: 16px; margin-left: 6px; }
			.breadItemText { margin-left: 6px; cursor: pointer;
				.icon-sort-down { font-size: 16px; margin-left: 11px; vertical-align: 2px; }
			}
			.projectList, .projectVersionList { display: none;
				.container { width: 100%; padding: 10px; padding-top: 0px;
					.header { margin-top: 5px; height: 26px; line-height: 26px; font-size: 12px; background-color: #f2f2f2; padding-left: 12px; }
					.item { display: block; cursor: pointer; height: 26px; line-height: 26px; font-size: 12px; padding-left: 12px; color: #A599B2; margin-top: 5px;
						&:hover { background-color: #A8DBFD; }
					}
				}
				.loading { text-align: center; color: #ccc; }
			}
			.projectList { position: absolute; width: 236px; background-color: #fff; max-height: 420px; overflow-y: auto; border: 1px #ccc solid; top: 32; left: 0px;
				.txtSearch { margin: 5px 10px 1px 10px; width: 214px; }
			}
			.projectVersionList { position: absolute; top: 32px; border: 1px #ccc solid; background-color: #fff; left: 0px; width: 288px; max-height: 378px;
				.listContent { display: none;
					.changeVersionBox { display: none; }
					.nav { border: 1px #ccc solid; border: 1px #ccc solid; margin: 0px 10px; background-color: #f5f5f5; font-size: 12px; margin-top: 5px;
						.item { display: block; cursor: pointer; float: left; height: 24px; line-height: 24px; width: 132px; text-align: center;
							&.selected { background-color: #dadada; color: #a9a9a9; }
						}
					}
					.txtSearch { margin: 5px 10px 1px 10px; width: 265px; }
					.vName { width: 92px; margin-right: 8px; }
					.vStatus { width: 60px; margin-right: 5px; }
					.vDate { width: 76px; margin-left: 3px; }
				}
			}
		}
		.allProject { cursor: pointer }
	}
}
#projectContainer { .projectNav { padding-left: 10px; background-color: #ddd; height: 40px; border-bottom: 1px #ccc solid; font-size: 12px; color: #666;
		.item { float: left; line-height: 30px; height: 30px; margin-right: 10px; width: 80px; border: 1px #ddd solid; text-align: center; margin-top: 10px; cursor: pointer;
			&:hover { border-color: #ccc; color: #333; }
			&.selected { color: #333; border: 1px #ccc solid; border-top-width: 2px; border-top-color: #3e78e6; border-bottom-color: #fff; background-color: #fff; }
		}
		.projectNavContentBox { margin-top: 1px; position: absolute; top: 40px; width: 100%; bottom: 0px; overflow: auto;

			/* 设计 */
			.designVerification, .designProperties { display: none; }
		}
	}
	.ProjectPlanPropertyContainer { .projectNav { .item { width: 65px; }
		}
	}
	.ProjectQualityNavContainer { .projectNav { .item { width: 54px; }
		}
	}
}
#projectDesignContent { margin-left: 240px; position: relative; height: 100%; }
.projectContainerApp { height: 100%;
	.projectContent { height: 100%;
		.leftNav { float: left; width: 238px; border: 1px #ccc solid; position: absolute; top: 40px; bottom: 0px; background-color: #fff;
			.leftNavContent { height: 100%; }
			.projectNavContentBox { margin-top: 1px; position: absolute; top: 40px; width: 100%; bottom: 0px;
				.projectModelNavContent { display: none; }
				.mCSB_container { }
			}
		}
		.rightProperty { border: 1px #ddd solid; display: none; position: absolute; right: 0px; top: 40px; bottom: 0px; background-color: #fff; z-index: 600;
			.rightPropertyContentBox { height: 100%; position: relative; }
			&.showPropety { width: 398px; display: block; }
		}
		.projectCotent { position: relative; height: 100%; margin-left: 240px;
			&.showPropety { margin-right: 398px; }
			.fileContainer { padding: 10px; height: 100%; box-sizing: border-box;
				.fileContainerScroll { position: absolute; top: 75px; bottom: 0px; left: 10px; right: 10px; }
				.btnNormal { padding: 4px 12px; display: inline-block; border: 1px #ccc solid; cursor: pointer; margin-right: 3px;
					i { color: #85B200; font-size: 20px; vertical-align: -3px; margin-right: 5px; }
				}
				.fileContent, .fileContentHeader { border: 1px #ccc solid; margin-top: 10px; border-bottom: 0;
					&.zIndex { position: relative; z-index: 1; }
					.inlineBlock { display: inline-block; }
					.filecKAll { width: 5%; text-align: center; }
					 
					.fileName { width: 48%;
						.fileType {margin-right: 10px; display: inline-block; margin-top: 5px; vertical-align: top; width: 35px; height: 30px; background: url('/projects/images/fileicon.png') no-repeat;
							&.file { background-position: 0px -39px; }
						}
						.text { cursor: pointer;
							&:hover { text-decoration: underline; }
						}
					}
					.fileStatus { width: 11%; }
					.fileOp { width: 11%; }
					.fileSize { width: 11%; }
					.fileDate { width: 11%; }
					.header, .item { height: 38px; line-height: 38px; border-bottom: 1px #ccc solid; }
					.header { background-color: #eee; }
				}
				.modelContainer { height: 500px; position: relative; }
			}
			.modelContainer { height: 100%; display: none;
				.modelContainerScroll { height: 100%;
					.modelContainerContent { height: 100%; }
				}
				.move { height: 100%; }
			}
		}
	}
	#projectContainer { height: 100%; margin-top: -40px; padding-top: 40px; position: relative;
		#projectDesignContainer { height: 100%; position: relative; }
		.dragSize { position: absolute; top: 0px; bottom: 0px; width: 10px; right: -6px; cursor: col-resize; z-index: 999; display: none; }
		.slideBar { width: 15px; height: 32px; right: -15px; z-index: 99; position: absolute; display: none; background-color: #fff; border: 2px #ccc solid; line-height: 26px; box-sizing: border-box; padding-left: 2px; cursor: pointer; }
		.rightPropertyContentBox { .dragSize { left: -5px; right: inherit; display: block; }
			.slideBar { right: inherit; display: block; left: -15px; top:40px;}
		}
	}
}
.rightProperty { .designVerification { height: 100%; }
	.modle { .modleShowHide { transition: all .5s; background: url(/comm/images/commIcon.png) no-repeat 0px -256px; float: right; margin-right: 12px; margin-top: 6px; height: 14px; width: 14px; cursor: pointer;
			&.down { transform: rotate(180deg); -ms-transform: rotate(180deg); -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg); }
		}
		.modleName { font-weight: bold; height: 24px; line-height: 24px; padding-left: 12px; }
		.modleList { background-color: #eee; border-top: 1px #ccc solid;
			.modleItem { border-bottom: 1px #ccc solid;
				.modleName { width: 25%; display: inline-block; box-sizing: border-box; padding-left: 12px; border-right: 1px #ccc solid; }
				.modleVal { display: inline-block; width: 72%; box-sizing: border-box; padding-left: 12px; margin-left: -3px; }
				.modelLink { display: inline-block; padding-left: 12px; color: #3F8CDF; height: 24px; line-height: 24px; }
			}
		}
	}
	.ckBox { overflow: auto; height: 100%;
		.ckTable { min-width: 500px; width: 100%;
			th { height: 24px; line-height: 24px; text-align: center; }
			td, th { border: 1px #ccc solid; }
			.issue { width: 55%; }
			.status { width: 11%; }
			.category { width: 10%; }
			.specialty { width: 12%; }
			.professional { width: 12%; }
		}
		tbody { td { padding-top: 10px; padding-bottom: 10px; vertical-align: middle; text-align: center; }
			.issue { text-align: left;
				.ckImg { float: left; padding: 0px 10px; }
				.ckHeader { margin-left: 84px; }
			}
		}
	}
	.collBox { height: 100%; overflow: auto;
		.ckTable { width: 100%; min-width: 390px;
			th { height: 24px; line-height: 24px; text-align: center; }
			td, th { border: 1px #ccc solid; }
			.collList { width: 56%; }
			.collStatus { width: 34%; }
			.collLev { width: 17%; }
			tbody { td { padding-top: 10px; padding-bottom: 10px; vertical-align: middle; text-align: center; }
				.collList { text-align: left;
					.ckImg { float: left; padding: 0px 10px; }
					.ckHeader { margin-left: 84px; }
				}
			}
		}
	}
	.planBox { position: absolute; top: 62px; bottom: 0px; left: 0px; right: 0px;
		.planContent { height: 100%;
			.tbPlan { border: 1px #ccc solid; width: 100%; min-width: 398px;
				th, td { border: 1px #ccc solid; }
				th { text-align: center; height: 28px; line-height: 28px; }
				td { height: 24px; line-height: 24px; }
				tr.odd { background-color: #eee; }
				tbody { td { box-sizing: border-box; padding-left: 8px; }
				}
			}
			.ckItem { width: 7%; }
			.planId { width: 9%; }
			.operationalMatters { width: 40%; }
			.start { width: 20%; }
			.end { width: 20%; }
		}
	}
}
.planInterest { .contentBox { height: 100%; }
	.title { height: 28px; line-height: 28px; font-weight: bold; padding-left: 15px; }
	.inspecId { width: 10%; text-align: center; }
	.businessMatters { width: 88%; }
	table { width: 100%;
		th, td { border: 1px #ccc solid; }
		thead { background-color: #eee; height: 28px; line-height: 28px;
			.businessMatters { text-align: center; }
		}
		tbody { tr { background-color: #ddd;
				td { height: 26px; line-height: 26px; }
				.businessMatters { padding-left: 5px; }
			}
		}
	}
}
.rightPropertyContentBox { .rightPropertyContent { height: 100%;
		.designPropetyBox { height: 100%;
			.projectNavContentBox { position: absolute; top: 40px; bottom: 0px; left: 0px; right: 0px; overflow: auto; }
		}
	}
}