<tr>
	<td>
	<%if(data.haveReply){%>
		<div class="liTopBox">
			<dl>
				<dt>我的建议：</dt>
				<dd><%= data.title%>  <%= data.content%></dd>
				<dd class="ddTime"><%= data.createTime?new Date(data.createTime).format("yyyy-MM-dd"):'--' %></dd>
				<dd class="ddDownLoad">
					<%if(data.havaAttachment){%>
						<span class="downLoad" data-downloadid="<%= data.id%>"></span>
					<%}%>
				</dd>
			</dl>
		</div>
		<div class="liDownBox">
			<dl>
				<dt>回复内容：</dt>
				<%if(data.adviceReplys.length>0){%>
					<dd>
						<%= data.adviceReplys[0].content%>
					</dd>
					<dd class="ddTime">
						<%= data.createTime?new Date(data.adviceReplys[0].replyTime).format("yyyy-MM-dd"):'--' %>
					</dd>
				<%}%>
			</dl>
		</div>
	<%}else{%>
		<div class="liTopBox">
			<dl>
				<dt>我的建议：</dt>
				<dd><%= data.title%>  <%= data.content%></dd>
				<dd class="ddTime"><%= data.createTime?new Date(data.createTime).format("yyyy-MM-dd"):'--' %></dd>
				<dd class="ddDownLoad">
					<%if(data.havaAttachment){%>
						<span class="downLoad" data-downloadid="<%= data.id%>"></span>
					<%}%>
				</dd>
			</dl>
		</div>
	<%}%>
	</td>
</tr>