/*
write by wuweiwei
department:glodon
*/

body{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	font-family:"Microsoft Yahei";
	font-size: 14px;
}

/*匹配手机设备*/
@media screen and (max-device-width: 1024px){
	html{
		font-size: 102.4px;
	}
}

@media screen and (max-device-width: 768px){
	html{
		font-size: 76.8px;
	}
}

@media screen and (max-device-width: 414px){
	html{
		font-size: 41.4px;
	}
}

@media screen and (max-device-width: 375px){
	html{
		font-size: 37.5px;
	}
}

@media screen and (max-device-width: 320px){
	html{
		font-size: 32px;
	}
}

/*
通用样式
*/
article{
	margin:0;
	padding:0;
}
p{
	margin:0;
	padding:0;
	font-weight: normal;
}
dl,dt,dd{
	margin: 0;
	padding: 0;
}
ul,li{
	margin:0;
	padding: 0;
	list-style: none;
}

.mainHeader{
	/*主框架titleBar*/
	position: fixed;
	width:100%;
	left:0;
	top:0;
	z-index: 2000;
}

.mobileBar{
	height: 17px;
	background-color: #21528c;
}
header{
	background-color: #21528c;
	height: 1.375rem;
	line-height: 1.375rem;
	text-align: center;
	color:#FFF;
	font-size: 0.5rem;
	position: relative;
}
header .header-close{
	left:0.2rem;
	height: 0.625rem;
	width: 0.625rem;
	position: absolute;
	top:50%;
	transform:translate(0,-50%) rotate(45deg);
	cursor: pointer;
}
header .header-close span{
	display: block;
}
header .header-close .header-close-1{
	position:absolute;
	top:50%;
	height: 3px;
	background-color: #FFF;
	width: 100%;
}
header .header-close .header-close-2{
	position: absolute;
	top:50%;
	height: 3px;
	background-color: #FFF;
	transform: rotate(90deg);
	width:100%;
}
header .header-return{

}
header .header-return .header-left{
	
}
header .header-return .header-left-inner{
	
}
section.mainContainer{
	/*主框架*/
	margin-bottom: 1.67rem;
	position: absolute;
	top:1.375rem;
	width:100%;
	margin-top:17px;
}

/*页面底部*/
footer{
	height: 1.656rem;
	position: fixed;
	background-color: #f3f6f3;
	border:1px solid #ccc;
	bottom:0;
	width:100%;
}
footer .footer-box{
	width:20%;
	float: left;
	height: 100%;
	position: relative;
	cursor:pointer;
}
footer .footer-box i{
	display: block;
	background-repeat: no-repeat;
	width:0.75rem;
	height: 0.75rem;
	background-size: 100%;
	position: absolute;
	left:50%;
	transform:translate(-50%);
	margin-top:0.218rem;
}
footer .footer-box i.footer-box-home{
	background-image: url(../images/comm/home.png);	
}
footer .footer-box:hover i.footer-box-home{
	background-image: url(../images/comm/homeH.png);
}

footer .footer-box i.footer-box-model{
	background-image: url(../images/comm/model.png);	
}
footer .footer-box:hover i.footer-box-model{
	background-image: url(../images/comm/modelH.png);
}

footer .footer-box i.footer-box-flow{
	background-image: url(../images/comm/flow.png);	
}
footer .footer-box:hover i.footer-box-flow{
	background-image: url(../images/comm/flowH.png);	
}

footer .footer-box i.footer-box-resource{
	background-image: url(../images/comm/resource.png);	
}
footer .footer-box:hover i.footer-box-resource{
	background-image: url(../images/comm/resourceH.png);	
}

footer .footer-box i.footer-box-service{
	background-image: url(../images/comm/service.png);	
}
footer .footer-box:hover i.footer-box-service{
	background-image: url(../images/comm/serviceH.png);	
}
footer .footer-box span{
	display: block;
	margin-top: 1.03rem;
	text-align:center;
}
footer .footer-box:hover span{
	color:#4990e2;
}

