 

<span class="proImg"><img src="<%= logoUrl.small%>" /></span>
 
<span class="proName"><a class="aProName" href="/#projects/<%=id %>/<%= version && version.id || 'noVersion'  %>/<%=projectNo%>" data-id="<%=id %>"><%=name%></a></span>
<span class="proType"><%=App.Projects.projectModel[estateType]%></span> 
<span class="proRetailing"><%=App.Projects.projectType[projectType]%></span>
<span class="proProvince"><%=province%></span>
<span class="proCity"><%=province%></span> 
<span class="proStar"><%= new Date(createTime).format("yyyy-MM-dd")%></span>
<span class="proEnd"><%= openTime ? new Date(openTime).format("yyyy-MM-dd"):"" %></span>
 